$white: #fff;
$black: #1f2d3d;
$red: #ff4848;
$orange: #f19b45;
$yellow: #ffc82c;
$green: #1db25f;

$blue: #0075ff;
$blue-light: #e7f2ff;
$blue-lightest: #f0f8ff;
$teal: #205e71;
$pink: #ff659d;
$purple: #613d7c !default;

$black-darkish: #000000;
$black-dark: #161616;
$black-shady: #1f1f1f;
$pink-light: rgba(255, 101, 157, 0.1);

// grayscale types & borders
$gray-dark: #3B4754;
$gray-darkish: #475766;
$gray: #60758A;
$gray-light: #D4DBE2;
$gray-lighter: #E0E5EB;
$gray-lightest: #EDF0F3;

// TNL: grayscale backgrounds and surfaces

$ash-darker: #e5e9f2;
$ash-dark: #eff2f7;
$ash: #f9fafc;

// Reassign color vars to semantic color scheme
$brand-primary: $blue;
$brand-success: $green;
$brand-info: $blue;
$brand-warning: $orange;
$brand-danger: $red;
$brand-inverse: $gray-dark;
$brand-accent: $pink;
// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-rounded: true !default;
$enable-shadows: false !default;
$enable-gradients: false !default;
$enable-transitions: true !default;
$enable-hover-media-query: false !default;
$enable-grid-classes: true !default;
$enable-print-styles: true !default;

// Body
//
// Settings for the `<body>` element.

$body-bg: $white;
$body-color: $gray-dark;
$inverse-bg: $gray-dark;
$inverse-color: $gray-lighter;
