$list-group-color:               $body-color !default;
$list-group-bg:                  $white;
$list-group-border-color:        rgba($black,.125) !default;
$list-group-border-width:        0;
$list-group-border-radius:       $border-radius !default;

$list-group-item-padding-x:      1rem;
$list-group-item-padding-y:      .5rem;

$list-group-hover-bg:            $ash;
$list-group-active-color:        $brand-primary;
$list-group-active-bg:           $white;
$list-group-active-border:       $list-group-active-bg !default;
$list-group-active-text-color:   lighten($list-group-active-bg, 50%) !default;

$list-group-disabled-color:      $gray-light !default;
$list-group-disabled-bg:         $list-group-bg !default;
$list-group-disabled-text-color: $list-group-disabled-color !default;

$list-group-link-color:          $gray !default;
$list-group-link-heading-color:  $gray-dark !default;
$list-group-link-hover-color:    $list-group-link-color !default;

$list-group-link-active-color:   $list-group-color !default;
$list-group-link-active-bg:      $gray-lighter !default;
