
$tooltip-max-width:           200px !default;
$tooltip-color:               $white !default;
$tooltip-bg:                  $gray-dark;
$tooltip-opacity:             .9 !default;
$tooltip-padding-y:           .75 * $spacer-y;
$tooltip-padding-x:           $spacer-x;
$tooltip-margin:              3px !default;

$tooltip-arrow-width:         5px !default;
$tooltip-arrow-color:         $tooltip-bg;
