$font-family-sans-serif: 'Inter', system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-family-serif:      Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:  'Source Code Pro', Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base:       $font-family-sans-serif;

$font-size-base: 16px;
$font-size-lg:   1.25rem !default;
$font-size-sm:   .875rem !default;
$font-size-xs:   .75rem !default;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-seimi-bold: 600;
$font-weight-bold: 600;

$font-weight-base: $font-weight-normal;
$line-height-base: 1.6;

$font-size-h1: 2.5rem !default;
$font-size-h2: 2rem !default;
$font-size-h3: 1.75rem !default;
$font-size-h4: 1.5rem !default;
$font-size-h5: 1rem !default;
$font-size-h6: 1rem !default;

$headings-margin-bottom: $spacer;
$headings-font-family:   inherit !default;
$headings-font-weight:   600;
$headings-line-height:   1.6;
$headings-color:         $gray-dark;

$headings-letter-spacing: -0.04em;

$display1-size: 6rem;
$display2-size: 5rem;
$display3-size: 3.625rem;
$display4-size: 2rem;

$display1-weight:     300;
$display2-weight:     400;
$display3-weight:     600;
$display4-weight:     600;
$display-line-height: $headings-line-height;

$lead-font-size:   1.125rem;
$lead-font-weight: 400;

$small-font-size: 80% !default;

$text-muted: $gray;

$abbr-border-color: $gray-light !default;

$blockquote-small-color:  $gray-light;
$blockquote-font-size:    ($font-size-base * 1.25) !default;
$blockquote-border-color: $gray-lighter;
$blockquote-border-width: .25rem !default;

$hr-border-color: rgba($black,.1) !default;
$hr-border-width: $border-width !default;

$mark-padding: .2em !default;

$dt-font-weight: $font-weight-bold !default;

$kbd-box-shadow:         inset 0 -.1rem 0 rgba($black,.25) !default;
$nested-kbd-font-weight: $font-weight-bold !default;

$list-inline-padding: 5px !default;


// Components
//
// Define common padding and border radius sizes and more.

$line-height-lg:         (4 / 3) !default;
$line-height-sm:         1.5 !default;

$border-radius:          .25rem !default;
$border-radius-lg:       .3rem !default;
$border-radius-sm:       .2rem !default;

$component-active-color: $brand-primary;
$component-active-bg:    $white;

$caret-width:            .3em !default;

$transition-base:        all .2s ease-in-out !default;
$transition-fade:        opacity .15s linear !default;
$transition-collapse:    height .35s ease !default;
