<section class="alternativeto-hero-section">
  <div class="container">
    <div class="row text-center justify-content-center">
      <div class="col-sm-6 col-md-6">
        <h1 class="display-3 mb-4">{{ .Params.hero }}</h1>
        <div class="mb-4">
          <a class="signup-button btn btn-success btn-lg" data-signup="data-signup"
                             href="https://app.checklyhq.com/signup">Start your free trial</a></div>
      </div>
      <div class="col-sm-6 text-center">
        <picture>
          <source type="image/webp" srcset="/alternative/home-dashboard@2x.webp">
          <source type="image/png" srcset="/alternative/home-dashboard@2x.png">
          <img  class="alternativeto-hero-image img-fluid" src="/alternative/home-dashboard@2x.png" alt="checkly pingdom monitoring dashboard alternative"  />
        </picture>


      </div>
      </div>
    </div>
    <div class="row">

    </div>
</section>
