<section class="alerting-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-8">
        <h2 class="section-super-header">Alerting</h2>
        <picture>
          <source type="image/webp" srcset="/landing/alerting-options@2x.webp">
          <source type="image/png" srcset="/landing/alerting-options@2x.png">
          <img class="alerting-top-image" src="/landing/alerting-options@2x.png" alt="checkly alerting options" width="750" height="45" />
        </picture>
        <h3 class="display-4">Alerting when and how you want it</h3>
        <p class="lead">Keep your team up to date with a
        generous helping of SMS messages and unlimited email, Pagerduty, Opsgenie, Slack and webhook
        notifications. Control exactly how, when and how often you get alerted. "Double checking" is enabled
        by default to never get false positives.</p>
        <a class="cta-link" href="/docs/alerting">Learn more</a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-center">
        <picture>
          <source type="image/webp" srcset="/landing/alert-settings@2x.webp">
          <source type="image/png" srcset="/landing/alert-settings@2x.png">
          <img class="alerting-image big-drop-shadow img-fluid" src="/landing/alert-settings@2x.png" alt="checkly alerting settings" width="900" height="568" />
        </picture>
      </div>
    </div>
  </div>
</section>
