<div id="landing-header" class="product markdown code-test-deploy-hero-section">
  <div class="container">
  <div class="row justify-content-center mb-5">
    <div class="col-12 col-lg-6 pr-lg-5 left-header mt-auto mb-auto">
      <div class="d-flex justify-content-center justify-content-md-start">
        <span class="terraform-text">MONITORING AS CODE</span>
      </div>
      <h1 class="terraform-title text-center text-md-left">
        Code, Test, and Deploy.
      </h1>
      <p class="text-center text-md-left terraform-sub">Unite E2E testing and synthetic monitoring in one monitoring as code (MaC) workflow. 
        Code, test, and deploy API and Playwright-based checks that scale.</p>
      <div class="d-flex flex-column flex-md-row justify-content-center justify-content-md-start align-items-top">
        <div class="d-flex flex-column">
          <a href="https://app.checklyhq.com/signup"><button type="button" class="btn btn-primary b-cta">Sign up for Free</button></a>
        </div>
        <div class="mx-3 md-mx-0 mb-3 md-mb-0 d-flex align-items-center or">and</div>
        <div class="code-block dark align-self-baseline">
          <pre class="p-3"><code>npm create @checkly/cli</code></pre>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6 pb-0 right-header mac-landing">
      <img class="img-fluid d-block d-md-none code-block-header" src="/product/pulumi/code-block-header.png" alt="checkly code"/>
      <div class="d-flex justify-content-start align-bottom">
        <div>
          <div class="tab-code-wrapper">
            <div class="window-header">
              <div class="dots d-flex pl-2">
                <div class="dot mr-2 ml-1"></div>
                <div class="dot mr-2"></div>
                <div class="dot"></div>
              </div>
              <div class="text">ecommerce-frontend - zsh</div>
              <div class="dots"></div>
            </div>
            <div class="code-block dark">
<pre>
<code><span class="font-italic">$</span> npx checkly test

Running 3 checks in eu-west-1.

<span class="code-red">✖ Cart Checkout</span> (6s)

src/__checks__/cart.check.ts

  <span class="code-red">✖</span> Cart Checkout (6s)

  INFO, 7:30:56 PM, <span class="code-grey">Running Playwright test script
    Error: expect(received).toBeLessThan(expected)</span>

__checks__/api.check.ts
   <span class="code-green">✔</span> Homepage - fetch stats (65ms)

__checks__/browser.check.ts
   <span class="code-green">✔</span> Homepage spec (7s)

<span class="code-red">1 failed</span>, <span class="code-green">2 passed, </span>2 total
</code>
</pre>
            </div> <!-- end codeblock -->
          </div>
        </div>
      </div> <!-- end row -->
    </div> <!-- end col section -->
  </div>
  </div>
</div>
