<div id="landing-header" class="product markdown code-test-deploy-hero-section">
  <div class="container">
  <div class="row justify-content-center mb-5">
    <div class="col-12 col-lg-6 pr-lg-5 left-header mt-auto mb-auto">
      <div class="d-flex justify-content-center justify-content-md-start">
        <span class="terraform-text">MONITORING AS CODE</span>
      </div>
      <h1 class="terraform-title text-center text-md-left">
        Code, test, and deploy synthetic monitoring at scale.
      </h1>
      <p class="text-center text-md-left terraform-sub">Unite E2E testing and monitoring in one monitoring as code (MaC) workflow, enabled by the Checkly CLI. Code, test, and deploy API and Playwright-based checks that scale.</p>
      <div class="d-flex justify-content-center align-items-center justify-content-md-start flex-column flex-sm-row flex-lg-wrap flex-xl-nowrap">
        <a href="https://app.checklyhq.com/signup"><button type="button" class="btn btn-primary b-cta">Sign up for Free</button></a>
        <div class="mx-3 my-2">and</div>
        <div id="copy-cli-installation-code" class="code-block dark d-flex justify-content-center align-items-center mt-lg-3 mt-xl-0">
          <pre id="cli-installation-pre"><code id="cli-installation-code">npm create @checkly/cli</code></pre>
        </div>
      </div>
      <div class="d-flex mt-2 justify-content-center justify-content-md-start">
        <a class="cta-link" href="/docs/cli/">Read the docs</a>
      </div>
    </div>
    <div class="col-12 col-lg-6 pb-0 right-header mac-landing">
      <img class="img-fluid d-block d-md-none code-block-header rounded" src="/product/monitoring-as-code/code-block-mac.png" alt="checkly code"/>
      <div class="d-flex justify-content-start align-bottom">
        <div>
          <div class="tab-code-wrapper">
            <div class="window-header">
              <div class="dots d-flex pl-2">
                <div class="dot mr-2 ml-1"></div>
                <div class="dot mr-2"></div>
                <div class="dot"></div>
              </div>
              <div class="text">ecommerce-frontend - zsh</div>
              <div class="dots"></div>
            </div>
            <div class="code-block dark">
<pre>
<code><span class="font-italic">$</span> npx checkly test

Running 3 checks in eu-west-1.

<span class="code-red">✖ Cart Checkout</span> (6s)

src/__checks__/cart.check.ts

  <span class="code-red">✖</span> Cart Checkout (6s)

  INFO, 7:30:56 PM, <span class="code-grey">Running Playwright test script
    Error: expect(received).toBeLessThan(expected)</span>

__checks__/api.check.ts
   <span class="code-green">✔</span> Homepage - fetch stats (65ms)

__checks__/browser.check.ts
   <span class="code-green">✔</span> Homepage spec (7s)

<span class="code-red">1 failed</span>, <span class="code-green">2 passed, </span>3 total
</code>
</pre>
            </div> <!-- end codeblock -->
          </div>
        </div>
      </div> <!-- end row -->
    </div> <!-- end col section -->
  </div>
  </div>
</div>
