<aside class="docs-menu">
  <nav id="sideMenu" class="left-transform right-transform">
    <span class="docs-menu-category">Getting Started</span>
    <ul class="docs-menu-content">
      {{ $currentPage := . }}
      {{ range $index, $element:=.Site.Menus.started }}
      <li class="docs-menu-item" id="docs-menu-reference-getting-started-{{$index}}">
        <div class="docs-menu-reference-link">
          <a href="{{.URL}}">
            {{ .Name }}
          </a>
        </div>
      </li>
      {{end}}
    </ul>
    <span class="docs-menu-category">Core Platform</span>
    {{ partial "docs-menu-walk" (dict "menuID" "platform" "page" .) }}
    <span class="docs-menu-category">Resources</span>
    {{ partial "docs-menu-walk" (dict "menuID" "resources" "page" .) }}
    <span class="docs-menu-category">Integrations</span>
    {{ partial "docs-menu-walk" (dict "menuID" "integrations" "page" .) }}
    <span class="docs-menu-category">Reference</span>
    <ul class="docs-menu-content">
      {{ $currentPage := . }}
      {{ range $index, $element:=.Site.Menus.reference }}
      <li class="docs-menu-item" id="docs-menu-reference-{{$index}}">
        <div class="docs-menu-reference-link">
          <a href="{{.URL}}">
            {{ .Name }}
          </a>
        </div>
      </li>
      {{end}}
    </ul>
  </nav>
  <div class="docs-menu-mobile-right-space">
  </div>

  <!-- Restore menu position as soon as possible to avoid flickering -->
  <script>
    (function () {
      const menu = document.querySelector('aside.docs-menu nav')
      addEventListener('beforeunload', function () {
        localStorage.setItem('menu.scrollTop', menu.scrollTop)
      })
      menu.scrollTop = localStorage.getItem('menu.scrollTop')
    })()
  </script>

</aside>


