<section class="e2e-pr-section">
  <div class="container">
    <div class="row justify-content-center header-part">
      <div class="col-sm-12 col-md-8"><h2 class="section-super-header">Terraform provider</h2>
        <h3 class="section-header">There's a better way to monitor your assets</h3>
      </div>
      <div class="col-sm-12 col-md-8">
        <p class="lead">Defining your checks as code with Checkly's Terraform provider make monitoring large, real-world APIs and websites a breeze.
        </p>
        <a class="cta-link" href="/product/terraform-provider">Learn more</a>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-8 col-lg-4 hidden-md-down">
        <ul class="list-group">
          <li class="list-group-item">
            <h5>
              <img class="img-fluid extra-margin-right" src="/images/icons/compatible_icon_circle.svg" alt="checkly code"/>
              Compatible with your workflow
            </h5>
            <p>Already using Terraform for IaC? Great. Not using Terraform yet? Easily plug it into your existing pipeline.</p>
          </li>
          <li class="list-group-item">
            <h5>
              <img class="img-fluid extra-margin-right" src="/images/icons/search_icon_circle.svg" alt="checkly code"/>
              Increased transparency
            </h5>
            <p>Declaring your checks as code aligns your monitoring with your releases and rollbacks, while also serving as documentation.</p>
          </li>
          <li class="list-group-item">
            <h5>
              <img class="img-fluid extra-margin-right" src="/images/icons/rocket_icon_circle.svg" alt="checkly code"/>
              One setup for local and cloud
            </h5>
            <p>Seamlessly develop and test your checks locally, push to source control and apply automatically.</p>
          </li>
        </ul>
      </div>
      <div class="col-sm-12 col-lg-8">
          <img class="img-fluid img-offset" src="/images/source-control-terraform.svg" alt="checkly code"/>
      </div>
    </div>
  </div>
</section>
