<footer class="footer">
  <div class="container">
    <div class="row footer-top">
      <div class="col-lg-3">
        <div class="mb-3 mb-md-0">
          <h6 class="menu_header" id="menu_1">Product</h6>
          <ul id="menu_1_drop" class="desktop-show">
            <li>
              <a href="/product/api-monitoring/">API monitoring</a>
            </li>
            <li>
              <a href="/product/synthetic-monitoring/">Synthetic monitoring</a>
            </li>
            <li><a href="/integrations">Integrations</a></li>
            <li><a href="/docs">Docs</a></li>
            <li><a href="/docs/api">API reference</a></li>
            <li><a href="https://changelog.checklyhq.com/" target="_blank" rel="noopener">Changelog</a></li>
            <li><a href="/pricing">Pricing</a></li>
            <a class="sp-status" href="//checklyhq-com.statuspal.io">Status</a>
<!--            <li><a href="https://status.checklyhq.com/" target="_blank" rel="noopener">Live dashboard</a><span class="green-dot"></span></li>-->
          </ul>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="mb-3 mb-md-0">
          <h6 class="menu_header" id="menu_2">Company</h6>
          <ul id="menu_2_drop" class="desktop-show">
            <li><a href="/about">About</a></li>
            <li><a href="/jobs">Jobs
            </a></li>
            <li><a href="https://blog.checklyhq.com/" target="_blank" rel="noopener">Blog</a></li>
            <li><a href="/open-source">Open Source</a></li>
            <li><a href="/security">Security</a></li>
            <li><a href="/terms">Terms of use</a></li>
            <li><a href="/privacy">Privacy policy</a></li>
            <li><a href="/why-checkly">Why Checkly</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="mb-3 mb-md-0">
          <h6 class="menu_header" id="menu_3">Open Source</h6>
          <ul id="menu_3_drop" class="desktop-show">
            <li><a href="https://chrome.google.com/webstore/detail/headless-recorder/djeegiggegleadkkbgopoonhjimgehda?hl=en" target="_blank" rel="noopener">Headless Recorder</a></li>
            <li><a href="https://registry.terraform.io/providers/checkly/checkly/latest/docs" target="_blank" rel="noopener">Terraform Provider</a></li>
          </ul>
        </div>
        <div class="mb-3 mb-md-0">
          <h6 class="menu_header" id="menu_4">Learn</h6>
          <ul id="menu_4_drop" class="desktop-show">
            <li><a href="/learn/headless">Puppeteer & Playwright</a></li>
            <li><a href="/guides/end-to-end-monitoring">End-to-End Monitoring</a></li>
            <li><a href="/guides/monitoring-as-code">Monitoring-as-Code</a></li>
            <li><a href="/guides/api-monitoring">JAMStack API Monitoring</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="mb-3 mb-md-0">
          <h6 class="menu_header" id="menu_5">Connect</h6>
          <ul id="menu_5_drop" class="desktop-show">
            <li><a class="open-intercom-link" href="mailto:support@checklyhq.com">Support</a></li>
            <li><a href="https://twitter.com/checklyHQ" target="_blank" rel="noopener">Twitter @ChecklyHQ</a></li>
            <li><a href="https://github.com/checkly/product-roadmap/projects/1" target="_blank" rel="noopener">Public Roadmap</a></li>
          </ul>
        </div>
        <div class="mb-3 mb-md-0">
          <h6 class="menu_header" id="menu_6">How we compare</h6>
          <ul id="menu_6_drop" class="desktop-show">
            <li><a href="/alternative/to-pingdom/">Alternative to Pingdom</a></li>
            <li><a href="/alternative/to-runscope/">Alternative to Runscope</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="footer-divider"></div>
      </div>
    </div>
    <div class="row footer-bottom">
      <div class="col-12 flex-wrap">
        <div class="float-left">
          <img class="logo" src="/images/footer-logo.svg" width="52" height="47" alt="checkly logo"/>
          <div>Copyright © 2021 Checkly Inc. All rights reserved.</div>
        </div>
        <div class="float-right">
          <a class="github" href="https://github.com/checkly" target="_blank" rel="noopener"><img
          src="/images/github.svg" alt="github logo" width="24" height="24" /></a>
          <a href="https://twitter.com/checklyhq" target="_blank" rel="noopener"><img
          src="/images/twitter.svg" alt="twitter logo" width="26" height="21" /></a>
        </div>
      </div>
    </div>
  </div>
</footer>
