<section class="hero-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-10 col-lg-8">
        <h1 class="display-3">Delightful Active Monitoring<br/>for Developers</h1>
        <p class="lead">Checkly is the API & E2E monitoring platform for the modern stack: programmable, flexible
          and loving JavaScript.</p>
        <div>
          <a id="signup-button" class="signup-button btn btn-success btn-lg" data-signup="data-signup" href="https://app.checklyhq.com/signup" rel="noopener">
            Start for free
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-center">
        <picture>
          <source type="image/webp" srcset="/landing/home-hero-screenshot@2x.webp">
          <source type="image/png" srcset="/landing/home-hero-screenshot@2x.png">
          <img  class="hero-image big-drop-shadow img-fluid" src="/landing/home-hero-screenshot@2x.png" alt="checkly monitoring dashboard" width="1100" height="580" />
        </picture>
      </div>
    </div>
  </div>
</section>

<script>
if (window.location.search) {
  const params = new URLSearchParams(window.location.search)
  const newParams = new URLSearchParams()

  const utmCampaign = params.get('utm_campaign')
  if (utmCampaign) newParams.set('utm_campaign', utmCampaign)

  const utmMedium = params.get('utm_medium')
  if (utmMedium) newParams.set('utm_medium', utmMedium)

  const utmSource = params.get('utm_source')
  if (utmSource) newParams.set('utm_source', utmSource)

  const utmTerm = params.get('utm_term')
  if (utmTerm) newParams.set('utm_term', utmTerm)

  const utmContent = params.get('utm_content')
  if (utmContent) newParams.set('utm_content', utmContent)

  const signupButton = document.querySelector('#signup-button')
  signupButton.href = `https:\/\/app.checklyhq.com/signup?${newParams.toString()}`
}
</script>
