{{- $url := replace .Permalink ( printf "%s" .Site.BaseURL) "/" -}}
{{- $paths := split $url "/" -}}
{{- $learnSection := (index $paths 2) -}}

{{- if eq $learnSection "playwright" -}}
  {{ partial "learn-playwright-menu" . }}
{{- else if eq $learnSection "monitoring" -}}
  {{ partial "learn-monitoring-menu" . }}
{{- else if eq $learnSection "incidents" -}}
  {{ partial "learn-incidents-menu" . }}
{{- else -}}
  {{ partial "learn-menu-generic" (dict "learnSection" $learnSection "page" .) }}
{{- end -}}
