<aside class="learn-menu">
  <nav id="sideMenu">
    {{ partial "navbar-links-mobile" . }}

    {{- $page := .page -}}
    {{- $learnSection := .learnSection -}}
    {{- $menuID := print "learn_" $learnSection -}}

    {{- partial "learn-menu-walk" (dict "menuID" $menuID "page" $page) -}}
  </nav>
  <div class="learn-menu-mobile-right-space">
  </div>

  <!-- Restore menu position as soon as possible to avoid flickering -->
  <script>
    (function () {
      const menu = document.querySelector('aside.learn-menu nav')
      addEventListener('beforeunload', function () {
        localStorage.setItem('menu.scrollTop', menu.scrollTop)
      })
      menu.scrollTop = localStorage.getItem('menu.scrollTop')
    })()
  </script>

</aside>


