<section class="private-locations-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-8">
        <h2 class="section-super-header">Private locations</h2>
        <h3 class="display-4">Monitor your private applications and APIs</h3>
        <p class="lead">Get full visibility of private applications across your infrastructure, on-prem and in your private or hybrid cloud.
          <br><br>
          Run our checks wherever containers run: physical or virtual machines with a container engine such as Docker, or on your Kubernetes cluster or other orchestration platforms. Up and running in two minutes.
        </p>
        <a class="cta-link" href="/docs/private-locations/private-locations-getting-started/">Learn more</a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-center">
        <picture>
          <!-- <source type="image/webp" srcset="/landing/alert-settings@2x.webp">
          <source type="image/png" srcset="/landing/alert-settings@2x.png"> -->
          <img class="location-image img-fluid" src="https://s3.eu-central-1.amazonaws.com/cdn.checklyhq.com/landing/private-locations-stacked%402x.png" alt="checkly alerting settings" width="2347" height="1090" />
        </picture>
      </div>
    </div>
  </div>
</section>
