<section class="case-studies-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-5">
        <picture>
          <source type="image/webp" srcset="/landing/case-studies@2x.webp">
          <source type="image/png" srcset="/landing/case-studies@2x.png">
          <img class="testimonial-logo" src="/landing/1case-studies@2x.png" alt="case studies" />
        </picture>
      </div>
      <div class="col-sm-12 col-md-7">
        <div class="author-block">
          <div>
            <img src="/landing/andreas-wixler-avatar.png" alt="andreas wixler" width="58" height="58" />
          </div>
          <div class="author-info">
            <div class="author-name">Andreas Wixler</div>
            <div class="author-role">CTO & Co-Founder of <img alt="finna auto" src="/landing/finna-auto-text-logo.svg" width="73" height="20" /></div>
          </div>
        </div>
        <div class="text-wrap">
          <img class="quote-icon" src="/landing/quote.svg" alt="quote icon" width="94" height="72" />
          <h2 class="case-studies-section__title">Checkly is super easy to use and fits perfectly in our toolchain.</h2>
          <p class="case-studies-section__description">
            finn.auto uses Checkly to ensure booking processes work all the time, everywhere!
          </p>
          <a class="cta-link" href="/customers/finn-auto">Read case study</a>
        </div>
      </div>
    </div>
  </div>
</section>
