<!-- main scripts-->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
<script async defer src="https://buttons.github.io/buttons.js"></script>
<script src="/js/xml2json.js"></script>
<script src="/js/index.js"></script>
<!-- HubSpot tracking -->
<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/7651213.js"></script>

<!-- GTM noscript -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5BMD7T3"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- UTM Param Manager -->
<script>
const utmParamKeys = [
  'utm_campaign',
  'utm_medium',
  'utm_source',
  'utm_term',
  'utm_content',
]
const utmTagEntry = localStorage.getItem('checkly.utm_tags_entry');
const utmOriginalSource = localStorage.getItem('checkly.utm_tags_original_source');
const utmOriginalMedium = localStorage.getItem('checkly.utm_tags_original_medium');
const restoredUtmTags = localStorage.getItem('checkly.utm_tags');

if (window.location.search || restoredUtmTags) {
  const nextParams = new URLSearchParams()
  if (utmOriginalSource) nextParams.set('utm_originalsource', utmOriginalSource)
  if (utmOriginalMedium) nextParams.set('utm_originalmedium', utmOriginalMedium)

  // Set current params from location.search or the restored utm tags
  let currentParams
  if (utmParamKeys.some(param => window.location.search.includes(param))) {
    currentParams = new URLSearchParams(window.location.search)
  } else {
    currentParams = new URLSearchParams(restoredUtmTags)
  }

  // Build new URLSearchParams from current utm tags that we have on window.location.search
  utmParamKeys.forEach(paramName => {
    const utmParamValue = currentParams.get(paramName)
    if (utmParamValue) nextParams.set(paramName, utmParamValue)
  })

  // Persist next params to localstorage
  window.localStorage.setItem('checkly.utm_tags', nextParams.toString())
  window.localStorage.setItem('checkly.utm_tags_entry', new Date().toISOString())

  // Save `utm_originalsource` to localStorage
  if (!utmOriginalSource && currentParams.get('utm_source')) {
    window.localStorage.setItem('checkly.utm_tags_original_source', currentParams.get('utm_source'))
    nextParams.set('utm_originalsource', currentParams.get('utm_source'))
  }

  // Save `utm_originalmedium` to localStorage
  if (utmOriginalMedium && currentParams.get('utm_medium')) {
    window.localStorage.setItem('checkly.utm_tags_original_medium', currentParams.get('utm_medium'))
    nextParams.set('utm_originalmedium', currentParams.get('utm_medium'))
  }

  // Append new params to all app.checklyhq.com links and add onClick handler to clear
  // the localstorage of our utm tags for future visits
  document.querySelectorAll('a[href*="app.checklyhq.com"]').forEach(link => {
    link.href += `?${nextParams.toString()}&utm_entrydate=${encodeURIComponent(utmTagEntry || new Date().toISOString())}`
    link.addEventListener('click', (e) => {
      window.localStorage.removeItem('checkly.utm_tags')
      window.localStorage.removeItem('checkly.utm_tags_entry')
      window.localStorage.removeItem('checkly.utm_tags_original_source')
      window.localStorage.removeItem('checkly.utm_tags_original_medium')
    });
  })
}
</script>