<!-- main scripts-->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
<script async defer src="https://buttons.github.io/buttons.js"></script>
<script src="/js/xml2json.js"></script>
<script src="/js/index.js"></script>
<!-- HubSpot tracking -->
<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/7651213.js"></script>

<!-- GTM noscript -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5BMD7T3"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- UTM Param Manager -->
<script>
const utmParams = [
  'utm_campaign',
  'utm_medium',
  'utm_source',
  'utm_term',
  'utm_content',
]
const utmTags = localStorage.getItem('checkly.utm_tags');

if (window.location.search || utmTags) {
  const newParams = new URLSearchParams()

  // Set params from location.search or the saved utm tags
  let params
  if (utmParams.some(param => window.location.search.includes(param))) {
    params = new URLSearchParams(window.location.search)
  } else {
    params = new URLSearchParams(utmTags)
  }

  // Build new URLSearchParams from utm tags that we have
  utmParams.forEach(paramName => {
    const utmParamValue = params.get(paramName)
    if (utmParamValue) newParams.set(paramName, utmParamValue)
  })

  // Persist new params to localstorage
  window.localStorage.setItem('checkly.utm_tags', newParams.toString())

  // Append new params to all app.checklyhq.com links and add onClick handler to clear
  // the localstorage of our utm tags for future visits
  document.querySelectorAll('a[href*="app.checklyhq.com"]').forEach(link => {
    link.href += `?${newParams.toString()}`
    link.addEventListener('click', (e) => {
      window.localStorage.removeItem('checkly.utm_tags')
    });
  })
}
</script>
