<section class="site-monitoring-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-10 col-lg-5">
        <div class="text-side text-left">
          <h2 class="section-super-header">synthetic monitoring</h2>
          <h3 class="section-header">Monitor crucial flows fast</h3>
          <p class="lead-text">
            Monitor and validate your crucial site transactions. Automatically
            collect error traces, screenshots and performance metrics with every
            browser check you run. <br /><br />
            Coding browser click-flows used to be hard. Not anymore. Use modern
            open source frameworks like Playwright to automate your flows. Run
            your checks in 20 locations worldwide.
          </p>
          <a class="cta-link" href="/product/synthetic-monitoring/"
            >Learn more</a
          >
        </div>
      </div>
      <div class="col-sm-12 col-lg-7">
        <div class="image-side right">
          <picture>
            <source type="image/webp" srcset="/landing/rbcr-fullpage@2x.webp" />
            <source type="image/png" srcset="/landing/rbcr-fullpage@2x.png" />
            <img
              class="big-landing-image big-drop-shadow first fade-in lazy"
              src="/landing/app.fullpage@2x.png"
              alt="checkly browser screenshots"
              width="760"
              height="472"
            />
          </picture>
          <picture>
            <source type="image/webp" srcset="https://d1tzmx204wa22c.cloudfront.net/landing/app.checklyhq%402x.webp" />
            <source type="image/png" srcset="https://d1tzmx204wa22c.cloudfront.net/landing/app.checklyhq%402x.png" />
            <img
              class="
                big-landing-image big-drop-shadow
                webshop
                second
                fade-in
                lazy
              "
              src="/landing/rbcr-checklyhq@2x.png"
              alt="webshop add to cart"
              width="760"
              height="475"
            />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
