<section class="site-monitoring-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-10 col-lg-5">
        <div class="text-side text-left"><h2 class="section-super-header">synthetic monitoring</h2>
          <h3 class="section-header">Monitor crucial flows fast</h3>
            <p class="lead-text">Monitor and validate your crucial site transactions. Take screenshots and get instant insights into what's working and what's not.
              <br><br>
              Coding browser click-flows used to be hard. Not anymore. Use modern open source frameworks like Playwright and Puppeteer to automate your flows. Run your checks in 20 locations worldwide.
            </p><a class="cta-link" href="/product/synthetic-monitoring/">Learn more</a>
        </div>
      </div>
      <div class="col-sm-12 col-lg-7">
        <div class="image-side right">
          <picture>
            <source type="image/webp" srcset="/landing/browser-check-1-section-screenshot@2x.webp">
            <source type="image/png" srcset="/landing/browser-check-1-section-screenshot@2x.png">
            <img  class="big-landing-image big-drop-shadow code fade-in lazy" src="/landing/browser-check-1-section-screenshot@2x.png" alt="checkly browser check" width="600" height="509" />
          </picture>
          <picture>
            <source type="image/webp" srcset="/landing/browser-check-2-section-screenshot@2x.webp">
            <source type="image/png" srcset="/landing/browser-check-2-section-screenshot@2x.png">
            <img  class="big-landing-image big-drop-shadow screenshots fade-in lazy" src="/landing/browser-check-2-section-screenshot@2x.png" alt="checkly browser screenshots" width="600" height="402"  />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
