<section class="site-monitoring-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-10 col-lg-5">
        <div class="text-side text-left">
          <h2 class="section-super-header">synthetic monitoring</h2>
          <h3 class="section-header">Monitor crucial flows fast</h3>
          <p class="lead-text">
            Monitor and validate your crucial site transactions. Automatically collect error traces, screenshots, video clips, and performance metrics to diagnose errors and performance regressions. <br /><br />
            Coding browser click-flows used to be hard. Not anymore. Use the Playwright open source automation framework—and our @playwright/test support—to automate your flows. Then run your checks in 22 locations worldwide.
          </p>
          <a class="cta-link" href="/product/synthetic-monitoring/"
            >Learn more</a
          >
        </div>
      </div>
      <div class="col-sm-12 col-lg-7">
        <div class="image-side right">
          <picture>
            <source type="image/png" srcset="https://cdn.checklyhq.com/landing/synthetic_bg.png" />
            <img
              class="big-landing-image big-drop-shadow first fade-in lazy rounded"
              src="https://cdn.checklyhq.com/landing/synthetic_bg.png"
              alt="checkly browser screenshots"
              width="760"
              height="472"
            />
          </picture>
          <picture>
            <source type="image/png" srcset="https://cdn.checklyhq.com/landing/synthetic_detail.png" />
            <img
              class="
                big-landing-image big-drop-shadow
                webshop
                second
                fade-in
                lazy
                rounded
              "
              src="https://cdn.checklyhq.com/landing/synthetic_detail.png"
              alt="webshop add to cart"
              width="760"
              height="475"
            />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
