<section class="free-trial-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-8 offset-lg-2">
        <div class="card">
          <div class="card-block">
            <div class="text-center">
              <div class="section-header pt-4 font-weight-bold">Try out Checkly for free</div>
              <p class="lead-text">Start monitoring your API endpoints and your vital site transactions.</p><a
                class="signup-button btn btn-success btn-lg" data-signup="data-signup"
                href="https://app.checklyhq.com/signup" rel="noopener">Start for free</a>
              <div class="pt-2 text-muted mb-4"><small>no credit card required</small></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
