{{- /* if not publish date is given in the frontmatter, we sneakily just subtract 1 year from the lastmod date */}}
{{- $pubDateFormatted := "" -}}
{{ if .PublishDate }}
  {{- $pubDateFormatted = .PublishDate.Format "2006-01-02T15:04:05Z" -}}
{{- else -}}
  {{- $pubDateFormatted = (.Lastmod.AddDate -1 0 0).Format "2006-01-02T15:04:05Z" -}}
{{ end }}

{{- $lastmodFormatted := .Lastmod.Format "2006-01-02T15:04:05Z" -}}
{{- $authorName := .Params.author -}}

{{- /* construct the image path */}}
{{ $template_name := .Scratch.Get "template_name"}}
{{ $breadcrumb_text := .Scratch.Get "breadcrumb_text"}}
{{ $subtitle_text := .Scratch.Get "subtitle_text"}}

{{- $image := printf "https://og-image.checklyhq.com/image.png?titleText=%s&template=%s" (htmlEscape .Title) ($template_name) -}}

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "headline": "{{ .Title | safeHTML }}",
  "description": "{{ .Summary | htmlUnescape | plainify | strings.TrimSpace }}",
  "datePublished": "{{ $pubDateFormatted }}",
  "dateCreated": "{{ $pubDateFormatted }}",
  "dateModified": "{{ $lastmodFormatted }}",
  "image": "{{ $image }}",
  "author": {
    "@type": "Person",
    "name": "{{ $authorName }}"
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "https://google.com/article"
  },
  "keywords": "[{{ range $i, $e := .Params.tags }}{{ if $i }}, {{ end }}{{ $e }}{{ end }}]",
  "publisher": {
    "@type": "Organization",
    "name": "Checkly",
    "logo": {
      "@type": "ImageObject",
      "url": "https://www.checklyhq.com/images/racoon_logo.svg"
    }
  }
}
</script>

