<section class="testimonial-section testimonial-3">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="text-center mb-5"><p class="testimonial-text">"I switched to Checkly after using Pingdom a long
          time; I like your product a lot better."</p>
          <div class="testimonial-name-badge">
            <div class="text-muted">Gersham Meharg | CTO<a href="https://www.telemetrytv.com/" target="_blank" rel="noopener"><img
                alt="customer logo" class="testimonial-logo" src="/images/testimonials/telemetrytv_logo.png"/></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
