<section class="testimonial-section testimonial-1">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card testimonial-card mb-5 mb-md-0">
          <div class="card-block first">
            <a href="https://railway.app" target="_blank" rel="noopener">
              <picture>
                <source type="image/webp" srcset="/landing/railway_logo@2x.webp">
                <source type="image/png" srcset="/landing/railway__logo@2x.png">
                <img class="testimonial-logo" src="/landing/railway__logo@2x.png" alt="railway.app logo" width="170" height="25" />
              </picture>
            </a>
            <p class="testimonial-text">"We've been using Checkly for the past months.
              It's been phenomenal. Super easy to get setup, works flawlessly and intuitively. The team are super receptive & quick to help"</p>
            <div class="testimonial-portrait"><img src="/images/testimonials/railway_portrait.png" alt="Jake Cooper" width="55" height="55" /></div>
            <div class="testimonial-name-badge">
              <div class="text-muted font-weight-bold">Jake Cooper</div>
              <div class="text-muted">Founder / Engineer</div>
              <a class="text-muted" href="https://railway.app/" target="_blank" rel="noopener">railway.app</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card testimonial-card mb-5 mb-md-0">
          <div class="card-block second">
            <a href="http://www.dfuse.io/" target="_blank" rel="noopener">
              <picture>
                <source type="image/webp" srcset="/landing/1p-wordmark@2x.webp">
                <source type="image/png" srcset="/landing/1p-wordmark@2x.png">
                <img class="testimonial-logo" src="/landing/1p-wordmark@2x.png" alt="dfuse logo" width="140" height="26" />
              </picture>
            </a>
            <p class="testimonial-text">"Checkly is a fabulous developer tool! The flexible features and developer-friendly API made the integration super easy. Bonus: their support is super friendly and knowledgeable!"</p>
            <div class="testimonial-portrait">
              <img alt="customer portrait" src="/images/testimonials/conner_hicks.png" alt="Conner Hicks" width="55" height="55" />
            </div>
            <div class="testimonial-name-badge">
              <div class="text-muted font-weight-bold">Connor Hicks</div>
              <div class="text-muted">Lead Developer</div>
              <a class="text-muted" href="https://1password.com/" target="_blank" rel="noopener">1password.com</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card testimonial-card mb-5 mb-md-0">
          <div class="card-block first">
            <a href="https://supplypike.com" target="_blank" rel="noopener">
              <picture>
                <source type="image/webp" srcset="/landing/supplypike_logo@2x.webp">
                <source type="image/png" srcset="/landing/supplypike_logo@2x.png">
                <img class="testimonial-logo" src="/landing/supplypike_logo@2x.png" alt="supplypike logo" width="150" height="25" />
              </picture>
            </a>
            <p class="testimonial-text">"Checkly helps our teams to ship code more confidently and guide data-driven
              decision making.
              Integrations with tools like Prometheus and PagerDuty make the adoption seamless."</p>
            <div class="testimonial-portrait"><img src="/images/testimonials/supplypike_portrait.png" alt="Kanat Bekterimov" width="55" height="55" /></div>
            <div class="testimonial-name-badge">
              <div class="text-muted font-weight-bold">Kanat Bekterimov</div>
              <div class="text-muted">Software Engineer Manager</div>
              <a class="text-muted" href="https://supplypike.com/" target="_blank" rel="noopener">supplypike.com</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
