<section class="trusted-by-section"><div class="container"><div class="row"><div class="col-sm-12 col-lg-10 offset-lg-1"><h5 class="section-super-header mb-3">Trusted by engineering teams at</h5></div></div><div class="row"><div class="col-sm-12">
  <picture>
  	<source type="image/webp" srcset="/landing/testimonial-logos@2x.webp">
    <source type="image/png" srcset="/landing/testimonial-logos@2x.png">
    <img  class="trusted-by-image" src="/landing/testimonial-logos@2x.png" alt="trusted by companies for api and synthetic monitoring" width="1100" height="53.5"  />
  </picture>
</div></div></div></section>
