{{ define "main" }}
  <div class="main py-5">
    <div class="container-fluid docs w-100">
      <h1 class="display-3">{{ .Title }}</h1>
      <p class="lead-text">{{ .Params.description }}</p>

      <!-- Guides List -->
      <div class="guides__list">
        {{ range where .Site.RegularPages.ByLastmod.Reverse "Section" "guides" }}
          <div class="guide-card" data-tags="{{ delimit .Params.tags ", " }}">
            <div>
              <div class="guide-info">
                <div class="guide-tag">
                  {{ with .Params.tags }}
                    {{ if (in (printf "%T" .) "[]string") }}
                      {{ range $index, $tag := . }}
                        {{ $tag }}
                      {{ end }}
                    {{ else }}
                      <!-- Optional: Handle the case where tags is not an array -->
                      <span>No tags available or invalid format</span>
                    {{ end }}
                  {{ else }}
                    <span>No tags available.</span>
                  {{ end }}
                </div>

                <h2>
                  <a href="{{ .RelPermalink }}">
                    {{ if .Params.displayTitle }}
                      {{ .Params.displayTitle }}
                    {{ else }}
                      {{ .Title }}
                    {{ end }}
                  </a>
                </h2>

                <p>
                  {{ if .Params.displayDescription }}
                    {{ .Params.displayDescription }}
                  {{ else }}
                    {{ .Description }}
                  {{ end }}
                </p>
              </div>

              <div class="write-info">
                <img src="{{ .Params.avatar | relURL }}" alt="{{ .Params.author }}" width="24" height="24" />
                <span>{{ .Params.author }}</span>
                <a href="{{ .RelPermalink }}" class="cta-link">Read the guide</a>
              </div>
            </div>
          </div>
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}