<!DOCTYPE html>
<html lang="en">
{{ .Scratch.Set "template_name" "site" }}
{{ if .Params.description }}
	{{ .Scratch.Set "subtitle_text" .Params.description }}
{{ else if .Params.hero.description }}
  {{ .Scratch.Set "subtitle_text" .Params.hero.description }}
{{ else if .Params.heroDescription }}
  {{ .Scratch.Set "subtitle_text" .Params.heroDescription }}
{{ end }}
{{ partial "head" . }}

<body>
	{{ partial "promo-banner" . }}
  {{ partial "navbar" . }}
  {{ block "main" . }}
  {{ end }}
  {{ partial "footer" . }}
  {{ partial "scripts" . }}
</body>
</html>
