{{ define "main" }}
  <div class="main container py-5">
    <div class="row mb-5">
      <div class="col-sm-12 col-lg-8 offset-lg-2 text-center">
        <h1>Join us!</h1>
        <span class="markdown">{{.Content}}</span>
      </div>
    </div>
    <div class="row mb-4">
      {{ if gt (len .Data.Pages) 0 }}
      <div class="col-sm-12 col-lg-8 offset-lg-2 text-left">
        {{ range first 10 .Data.Pages }}<a href="{{.RelPermalink}}"
          ><div class="d-flex flex-row justify-content-start mb-2">
            <div class="d-flex flex-column">
              <h2 class="mb-2 text-primary">{{ .Title }}</h2>
              <h6 class="text-primary">{{ .Params.subtitle }}</h6>
            </div>
            <div class="ml-auto">
              <div class="badge badge-success">
                {{ .Params.position_state }}
              </div>
            </div>
          </div></a
        >{{end}}
      </div>
      {{else}}
      <div class="col-sm-12 col-lg-8 offset-lg-2 text-center">
        <h5 class="mb-2">😮 No open positions just now...</h5>
      </div>
      {{end}}

    </div>
  </div>
{{end}}
