{{ define "main" }}
  <div class="main container py-5">
    <div class="row">
      <div class="col-sm-12 col-md-8 offset-md-2">
        <h1>{{.Title}}</h1>
        <span class="markdown">{{.Content}}</span>
        <div class="mt-5 card card-block">
          <h4>How to apply</h4>
          <p>Fill out the simple application form on Workable link below. Remember to include a written motivation on why you want to
            join Checkly and what motivates you in a job.</p>
          <a
            class="btn btn-success text-white"
            href="https://apply.workable.com/checkly/j/{{.Params.workable_code}}"
            target="_blank"
            >Apply now</a
          >
        </div>
      </div>
    </div>
  </div>
{{end}}
