<!DOCTYPE html>
<html lang="en">
<head>
  {{ .Scratch.Set "template_name" "learn" }}
  {{ $breadcrumb_text := "" }}
  {{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "/" }}
  {{ range $index, $element := split $url "/" }}
    {{ if ne $element "" }}
      {{ if eq $element "learn" }}
        {{ $breadcrumb_text = (print $breadcrumb_text "Headless Automation Guides")}}
      {{ else }}
        {{ if eq $index 4 }}
          {{ $sub_str := humanize . }}
          {{ $breadcrumb_text = (print $breadcrumb_text " / " $sub_str) }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
  {{ .Scratch.Set "breadcrumb_text" $breadcrumb_text }}
  {{ partial "head" . }}
</head>

<body>
  {{ partial "navbar-docs" . }}
  {{ block "main" . }}
  {{ end }}
  {{ partial "scripts" . }}
  <script defer src="https://cdn.jsdelivr.net/npm/@docsearch/js@3"></script>
  <script defer src="/js/learn.js"></script>
</body>
</html>
