{{ define "main" }}
<div class="main py-5">
    <div class="case-studies">
        <section class="case-studies__hero">
            <div class="container text-center">
                <h1 class="display-3 cases">Hear it from our users, not from us!</h1>
                <p class="case-studies__hero__lead">
                    Learn from customers globally how Checkly’s advanced synthetic monitoring is delivering reliability and speed at any scale.</p>
            </div>
        </section>
        <section class="case-studies__initiatives justify-content-center d-flex">
            <div class="row main-client justify-content-center">
                {{ range .Params.customers.cases }}
                <div class="card col-lg-3 col-md-5 case-studies__detail">
                    <a class="study-link" href={{.link}} rel="noopener">
                        <div class="cardbg">
                            <img src={{.icon}} alt={{.alt}} width="50%"/>
                        </div>
                        <div class="main-text">
                            <p>"{{.description}}"</p>
                            <p class="author">{{.author}}</p>
                            <div class="cta-wraps">
                                <p class="cta-p">
                                    Read Case Study
                                        <img class="ml-2" src="/case-studies/arrow.png" alt="arrow" width="13"
                                        height="13" />
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                {{ end }}
                <div class="col-lg-3 col-md-5 case-studies__detail p-0">
                    <div class="soon-card">
                        <div class="cardbg">
                            <img src="/case-studies/action.png" alt="action logo" width="50%" />
                        </div>
                    </div>
                    <div class="soon-card">
                        <div class="cardbg">
                            <img src="/case-studies/airbus.png" alt="airbus logo" width="50%" />
                        </div>
                    </div>
                </div>
                <div class="card col-lg-3 col-md-5 case-studies__detail">
                    <a class="study-link" href="https://www.hashicorp.com/blog/monitoring-as-code-with-terraform-cloud-and-checkly" rel="noopener">
                        <div class="cardbg">
                            <img src="/case-studies/schwarz.png" alt="schwarz logo" width="50%"/>
                        </div>
                        <div class="main-text">
                            <p>"Checkly enables us to quickly create, modify, and deploy API and browser checks."</p>
                            <p class="author">— Andreas Lehr, IT Team Lead</p>
                            <div class="cta-wraps">
                                <p class="cta-p">
                                    Read Case Study
                                        <img class="ml-2" src="/case-studies/arrow.png" alt="arrow" width="13"
                                        height="13" />
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-5 case-studies__detail p-0">
                    <div class="soon-card">
                        <div class="cardbg">
                            <img src="/case-studies/cathay.png" alt="cathay pacific airways logo" width="50%" />
                        </div>
                    </div>
                    <div class="soon-card">
                        <div class="cardbg">
                            <img src="/case-studies/autodesk.png" alt="autodesk logo" width="50%" />
                        </div>
                    </div>
                </div>
                {{ range .Params.customers.logos }}
                <div class="col-lg-3 col-md-5 case-studies__detail p-0">
                    <div class="soon-card">
                        <div class="cardbg">
                            <img src={{.icon}} width="50%"/>
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>
        </section>
    </div>
    {{ partial "start-for-free-row" . }}
</div>
{{end}}
