{{ define "main" }}
<div class="main developer_portal">

  <!-- HEADER-->
  <div class="developer_portal__header">
    <div class="container section">
      <div class="row justify-content-center">
        <div class="developer_portal__headerCol col-sm-12 col-md-10 text-center">
          <div class="developer_portal__headerContent">
            <h1 class="display-1">{{.Params.header.headline}}</h1>

            <p>{{.Params.header.description}}</p>
          </div>
          <div class="d-flex search">
            <form class="form-inline" id="search-form">
              <input class="search-input form-control py-3 pl-5" id="search" type="search" placeholder="{{.Params.header.searchPlaceholder}}" />
              <img class="search-icon" src="/docs/images/icons/search@2x.png" alt="search" with="16" height="16" />
            </form>
          </div>
        </div>
      </div>

      <div class="developer_portal__headerCards">
        <div class="cards">
          {{ range .Params.header.cards }}
            <a class="card" href="{{.linkTarget}}" target="{{.target}}">
              <div class="card__img">
                <img src="{{.icon}}" alt="" width="40" height="40">
              </div>
              <div class="card__content">
                <h4 class="card__title">{{.title}}</h4>
                <p class="card__description">{{.description}}</p>
              </div>
            </a>
          {{ end }}
        </div>
      </div>
    </div>
  </div>

  <!-- Essentials -->
  <div class="container developer_portal__essentials">
    <div class="tagline">{{.Params.essentials.tagline}}</div>
    <h2 class="display-2 section_title">{{.Params.essentials.headline}}</h2>

    <div class="developer_portal__essentialsCards">
      {{ range .Params.essentials.cards }}
        <div class="card">
          <div class="card__img">
            <img src="{{.icon}}" alt="" width="40" height="40">
          </div>
          <h4 class="card__title">{{.title}}</h4>
          <p class="card__description">{{.description}}</p>
          <div class="card__cta">
            <a class="cta-link" href="{{.linkTarget}}" target="{{.target}}">
              {{.linkText}}
            </a>
          </div>
        </div>
      {{ end }}
    </div>
  </div>

  <!-- POSTS -->
  <div class="container developer_portal__posts">
    <div class="tagline">{{.Params.posts.tagline}}</div>
    <h2 class="display-2 section_title">{{.Params.posts.headline}}</h2>

    <div class="posts">
      <a class="card" href="{{.Params.posts.card1.linkTarget}}" target="_blank">
        <div class="card__img">
          <img
            src="{{.Params.posts.card1.image.src}}"
            width="{{.Params.posts.card1.image.width}}"
            height="{{.Params.posts.card1.image.height}}"
            alt="{{.Params.posts.card1.image.alt}}" />
        </div>
        <h4 class="card__title">{{.Params.posts.card1.title}}</h4>
        <p class="card__description">{{.Params.posts.card1.text}}</p>
        <div class="card__meta">
          <div class="card__author">{{.Params.posts.card1.author}}</div>
          <div class="card__readTime">{{.Params.posts.card1.readTime}} read</div>
        </div>
      </a>

      {{ range .Params.posts.cards }}
        <a class="card" href="{{.linkTarget}}" target="_blank">
          <div class="card__img">
            <img
              src="{{.image.src}}"
              width="{{.image.width}}"
              height="{{.image.height}}"
              alt="{{.image.alt}}" />
          </div>
          <div class="card__content">
            <h4 class="card__title">{{.title}}</h4>
            <div class="card__meta">
              <div class="card__author">{{.author}}</div>
              <div class="card__readTime">{{.readTime}} read</div>
            </div>
          </div>
        </a>
      {{ end }}
    </div>
  </div>

  <div class="developer_portal_opensource">
    <div class="container">
      <div class="tagline">{{.Params.opensource.tagline}}</div>
      <h2 class="display-2 section_title">{{.Params.opensource.headline}}</h2>
    </div>
    <div class="opensource_grid">
      {{ range shuffle (.Params.opensource.people) }}
        <div class="opensource_grid-card">
          <img
            class="opensource_grid-cardImg"
            src="{{.src}}"
            width="64"
            height="64"
            alt="{{.username}}" />
          <div class="opensource_grid-cardContent">
            <div class="opensource_grid-cardName">{{.name}}</div>
            <div class="opensource_grid-cardUsername">{{.username}}</div>
          </div>
        </div>
      {{ end }}
    </div>
  </div>

  {{ partial "start-for-free-row" . }}

</div>
{{end}}
