@import '../variables';

.alerting-section {
  padding-top: 1.4 * $section-top-padding;
  padding-bottom: 0;
  background: $ash;
  height: 928px;
  overflow: hidden;

  .section-super-header {
    width: 100%;
    margin-bottom: 1.125rem;
  }

  .display-4 {
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .lead {
    margin-bottom: 14px;
  }

  .alerting-top-image {
    width: 750px;
  }

  .alerting-options-image {
    @include media-breakpoint-down(xs) {
      width: 240px;
    }
  }

  .alerting-image {
    margin-top: 80px;
    border-radius: 5px;
    border: 1px solid $gray-light;
  }
}
@include media-breakpoint-down(xl) {
  .alerting-section {
    .alerting-top-image {
      width: 100%;
      height: auto;
    }
    .alerting-image {
      margin-top: 50px;
    }
  }
}

@include media-breakpoint-down(md) {
  .alerting-section {
    height: auto;

    .alerting-image {
      margin-top: 40px;
      margin-bottom: -60px;
    }
  }
}

