@import '../variables';

.all-features-section {
  padding-top: 1.2 * $section-top-padding;
  padding-bottom: 2.4 *$section-bottom-padding;

  .section-header {
    margin-bottom: 50px;
  }

  h5 {
    font-size: .875rem;
    text-transform: uppercase;
    margin-bottom: 12px;
    color: $gray-dark;
    display: inline-block;
    font-weight: 600;
    letter-spacing: .5px
  }
  p {
    margin-bottom: 37px;
    max-width: 300px;
  }
  .second {
    margin: 0 auto;
  }
  .block {
    max-width: 300px;
    width: 100%;
  }
  .third {
    margin-left: auto;
  }
}

@include media-breakpoint-down(md) {
  .all-features-section {
    max-width: 700px;
    width: 100%;
    margin: auto;

    .second {
      margin: 0;
    }
    .third {
      margin-left: 0;
    }
  }
}

@include media-breakpoint-down(xs) {
  .all-features-section {
    padding-top: 0;
    padding-bottom: 0;
    max-width: 700px;
    width: 100%;
    margin: auto;

    .block {
      max-width: 100%;
      margin: auto;

      p {
        max-width: 100%;
      }
    }
  }
}
