@import '../variables';

.code-test-deploy-hero-section {
  #copy-cli-installation-code {
    &:hover {
      cursor: pointer !important;
    }
    code {
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
    }
  }
}
