.code-test-deploy-hero-section {
  #copy-cli-installation-code {
    &:hover {
      cursor: pointer;
    }

    #cli-installation-pre {
      margin: 0;
      font-size: 0.8rem;
      padding: 0.4rem 0.8rem;
      border-radius: 0.25rem !important;

      code {
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
      }
    }

    @include media-breakpoint-up(md) {
      #cli-installation-pre {
        font-size: 0.9rem;
        padding: 0.5rem 1rem;
      }
    }

    @include media-breakpoint-up(lg) {
      #cli-installation-pre {
        font-size: inherit;
        padding: 1rem;
      }
    }
  }
}
