@import '../variables';

.hero-section {
  padding-top: 3rem;
  height: 849px;
  overflow: hidden;
  background-image: url('/images/css/tropical-bg.png');
  background-position: center bottom;
  background-repeat: repeat-x;
  background-size: 100%;
  background-color: $ash;

  .col-md-8 {
    padding: 0 12.5px;
  }

  .display-3 {
    letter-spacing: -0.05em;
    line-height: 72px;
    color: $black;
    font-weight: 700;
    margin-bottom: 30px;

    br {
      margin: 0;
      height: 0;
      padding: 0;
    }
  }

  .lead {
    margin-bottom: 20px;
  }

  .hero-text {
    font-weight: 600;
    font-size: 3rem;
  }

  .hero-sub {
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 2rem !important;
    margin-bottom: 1rem;
    color: $body-text;
  }

  .btn {
    font-size: 20px;
    line-height: 32px;
    padding: 12px 40px 11px;
  }

  .hero-image {
    margin: auto;
    margin-top: 50px;
    max-width: 1100px;
    border-radius: 10px;

    @include media-breakpoint-up(xs) {
      width: 360px;
      height: auto;
    }

    @include media-breakpoint-up(sm) {
      width: 480px;
      height: auto;
    }

    @include media-breakpoint-up(md) {
      width: 100%;
      height: auto;
    }
  }
}

@include media-breakpoint-down(md) {
  .hero-section {
    height: auto;
    
    .display-3 {
      font-size: 48px;
      line-height: 58px;
      margin-bottom: 10px;
    }
  }
}

@include media-breakpoint-down(sm) {
  .hero-section {

    .lead {
      margin-bottom: 20px;
    }
    .hero-text {
      font-size: 2.5rem;
      padding: $spacer 0 0 0;
    }

    .hero-sub {
      font-size: 1.1rem;
    }
    .hero-image {
      width: 100%;
    }
  }
}

@include media-breakpoint-down(xs) {
  .hero-section {
    padding-top: 2rem;
    .display-3 {
      font-size: 32px;
      line-height: 39px;
    }
    .lead {
      font-size: 16px;
      line-height: 160%;
      margin-bottom: 10px;
    }
    .hero-image {
      margin-top: 40px;
    }
  }
}
