@import '../variables';

.private-locations-section {
  padding-top: 2 * $section-top-padding;
  padding-bottom: 2.01 * $section-bottom-padding;
  overflow: hidden;

  img.first {
    left: 100px;
    top: -20px;
    z-index: auto;
    width: 760px;
    height: auto;
  }

  img.second {
    left: 140px;
    top: 90px;
    height: auto;
  }
  @include media-breakpoint-down(md) {
    padding-top: $section-top-padding;
    padding-bottom: $section-top-padding;

    .image-side {
      margin-top: 50px;
      height: 350px;

      img.first {
        margin-left: 0;
        top: 50px;
        width: 85%;
        left: 16px;
        height: auto;
      }
      img.second {
        top: 200px;
        left: 120px;
        width: calc(100% - 136px);
        height: auto;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    .image-side {
      margin-top: 0px;
      .big-landing-image {
        position: absolute;
      }
      img.first {
        left: 16px;
        width: calc(100% - 68px);
      }
    }
  }
  @include media-breakpoint-down(xs) {
    .image-side {
      height: 200px;
    }
  }
}


