@import '../variables';

.private-locations {
  padding-top: 1.4 * $section-top-padding;
  padding-bottom: 0;
  background: $white;
  overflow: hidden;

  .section-super-header {
    width: 100%;
    margin-bottom: 1.125rem;
  }

  .display-4 {
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .lead {
    margin-bottom: 14px;
  }

  .alerting-options-image {
    @include media-breakpoint-down(xs) {
      width: 240px;
    }
  }

  .location-image {
    margin-top: 40px;
    max-width: 920px;
    width: 100%;
  }
}
@include media-breakpoint-down(xl) {
  .alerting-section {
    .location-image {
      margin-top: 50px;
    }
  }
}

@include media-breakpoint-down(md) {
  .location-image {
    margin-top: 40px;
    margin-bottom: -60px;
  }
}

