@import '../variables';

.terraform-section {
  padding-top: 7rem;
  padding-bottom: 8rem;
  background: $white;

  .lead {
  	margin-bottom: 20px;
  }

  .header-part {
  	margin-bottom: 3.75rem;
  }

  h5 {
    white-space: nowrap;
  	margin-bottom: 0;
  }

  .list-group-item {
  	padding: 0;
  	margin-bottom: 40px;
  	
  	h5 {
	  	margin-bottom: 0;
	  }

	  p {
      margin-top: 10px;
	  	margin-bottom: 0;
	  	color: $gray-darkish;
	  }
  }

  .pt-4 {
  	padding-top: 1.25rem !important;
  }

  .list-group-item:last-child {
  	margin-bottom: 0;
  }

  @include media-breakpoint-down(md) {
    padding-top: $section-top-padding;
    padding-bottom: 30px;

    .header-part {
      margin-bottom: 20px;
    }

    .pt-4 {
      padding-top: 10px !important;
    }
  }

  .img-offset {
    margin-top: -5%;
    width: 576px;
    height: 512px;
    float:right;
  }

  .extra-margin-right {
    margin-right: 10px
  }

}
