.testimonial-section {

  .testimonial-card {
    border: none;
    max-height: 415px;
    border-radius: $border-radius-lg;
    .card-block {
      padding: 2 * $spacer;
    }
  }
  .testimonial-logo {
    height: auto;
    margin-bottom: 1rem;
  }
  .testimonial-text {
    font-size: $font-size-base;
    color: $gray-dark;
    padding-top: $spacer-y;
  }
  .testimonial-portrait {
    display: flex;
    flex-direction: column;
    float: left;
    img {
      width: 55px;
      height: 55px;
      margin-right: 1rem;
    }
  }


  .testimonial-name-badge {
    display: flex;
    flex-direction: column;
  }

  &.testimonial-1 {
    padding-top: 2.4 * $section-top-padding;
    padding-bottom: 1.2 * $section-bottom-padding;

    .testimonial-card {
      max-height: 415px;
    }

    .card-block {
      padding: 0;
      max-width: 300px;
      width: 100%;
    }
    .second {
      margin-left: auto;
      margin-right: auto;
    }
    .third {
      margin-left: auto;
    }

    .testimonial-text {
      margin: 14px 0 40px;
      padding-top: 0;
    }
    .testimonial-portrait {
      img {
        width: 55px;
        height: 55px;
        margin-right: 1rem;
      }
    }
  }

  &.testimonial-2 {
    padding-top: 3 * $section-top-padding;
    padding-bottom: $section-bottom-padding;

    .testimonial-card {
      max-height: 620px;
      .card-block {
        padding: 2 * $spacer 3 * $spacer;
        &:before {
          content: "“";
          font-family: serif;
          position: absolute;
          width: 10px;
          font-size: 6rem;
          right: 50%;
          top: -3rem;
          color: $brand-primary;
          @include media-breakpoint-down(sm) {
            display: none;
          }
        }
      }

    }
    .testimonial-text {
      min-height: 100px;
      max-height: 440px;
    }
    .testimonial-portrait {
      img {
        width: 55px;
        height: 55px;
        margin-right: 1rem;
      }
    }
  }

  &.testimonial-3 {
    padding-top: 3 * $section-top-padding;
    padding-bottom: 0;
    .testimonial-text {
      font-weight: 400;
      margin-bottom: 0;
      font-size: $font-size-h4;
      &:before {
        content: "“";
        font-family: serif;
        position: absolute;
        width: 10px;
        font-size: 6rem;
        right: 50%;
        top: -4rem;
        color: $brand-primary;
        @include media-breakpoint-down(sm) {
          display: none;
        }
      }
    }
    .testimonial-logo {
      height: 25px;

      margin-bottom: 1px;
      margin-left: .5rem;
    }
  }
}

@include media-breakpoint-down(md) {
  .testimonial-section {
    max-width: 700px;
    width: 100%;
    margin: auto;

    &.testimonial-1 {
      padding-top: 2 * $section-top-padding;
      padding-bottom: $section-bottom-padding;

      .testimonial-card {
        height: auto;
      }
      
      .first {
        margin-left: 0;
        margin-right: 0;
      }
      .second {
        margin-left: auto;
        margin-right: 0;
      }
      .third {
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
      }
    }
    &.testimonial-3 {
      padding-top: 1.5 * $section-top-padding;
    }
  }
}

@include media-breakpoint-down(sm) {
  .testimonial-section {
    padding-top: $section-top-padding;

    &.testimonial-1 {
      padding-top: $section-top-padding;

      .first {
        margin: 0 auto;
      }
      .second {
        margin: 0 auto;
      }
      .third {
        margin-top: 0;
      }
    }

    &.testimonial-2 {
      padding-bottom: 2 * $section-bottom-padding;
    }

    &.testimonial-3 {
      padding-top: 0.8 * $section-top-padding;
      padding-bottom: 0;
    }
  }
}

@include media-breakpoint-down(xs) {
  .testimonial-section {
    padding-top: $section-top-padding;

    &.testimonial-1 {
      .card-block {
        max-width: 480px;
      }
    }
  }
}
