{{ define "main" }}
  <div class="main py-5">
    <div class="integrations">
      <div class="container">
        <div class="integrations__hero align-items-center text-center">
          <h1 class="display-3">{{ .Params.heroTitle }}</h1>
          <p class="integrations__hero__lead">
            {{ .Params.heroDescription}}
          </p>
        </div>
        <div class="integrations__highlights">
          <div class="integrations__highlights__tabs d-flex">
            {{ range $index, $element:=.Params.highlights}}
            <div class="integration-tab" id="integration-tab-{{ $index }}">
              <img src={{.tabIcon}} alt={{.label}} width="68" />
            </div>
            {{ end }}
          </div>
          <div class="integrations__highlights__contents">
            {{ range $index, $element:=.Params.highlights}}
            <div class="integration-tab-content" id="integration-tab-{{$index}}-content">
              <div class="image-wrap">
                <img src={{.image}} alt={{.title}} width="424" height="280" />
              </div>
              <div class="text-wrap">
                <div class="label">
                  {{ .label }}
                </div>
                <h3 class="display-4">
                  {{ .title }}
                </h3>
                <p>{{ .description | markdownify }}</p>
                <a class="cta-link" href="{{.ctaLink}}">
                  Learn more
                </a>
              </div>
            </div>
            {{ end }}
          </div>
        </div>
        <div class="integrations__subnav">
          <h2 class="display-4 text-center">All Integrations</h2>
          <div class="d-flex">
            <a href="#alert">Alerting</a>
            <a href="#triggers">Triggers</a>
            <a href="#frameworks">Frameworks</a>
            <a href="#infrastructure">Infrastructure</a>
          </div>
        </div>
        <div class="integrations__cardlist" id="alert">
          <h3 class="list-title">
            Alerting
          </h3>
          <div class="d-flex">
            {{ range .Params.alerting}}
              <div class="card">
                <div class="card__img">
                  <img src="{{.icon}}" alt="{{.service}}" width="{{.iconWidth}}" height="{{.iconHeight}}" />
                </div>
                <h4 class="card__title">
                  {{.service}}
                </h4>
                <p class="card__description">
                  {{.description}}
                </p>
                <div class="card__cta">
                  {{ if ne .ctaLink "" }}
                  <a class="cta-link" href="{{.ctaLink}}">
                    {{.service}} integration
                  </a>
                  {{ else }}
                    Coming soon!
                  {{ end }}
                </div>
              </div>
            {{ end }}
            <div class="card hidden"></div>
          </div>
        </div>
        <div class="integrations__cardlist" id="triggers">
          <h3 class="list-title">
            Triggers
          </h3>
          <div class="d-flex">
            {{ range .Params.triggers}}
              <div class="card">
                <div class="card__img">
                  <img src="{{.icon}}" alt="{{.service}}" width="{{.iconWidth}}" height="{{.iconHeight}}" />
                </div>
                <h4 class="card__title">
                  {{.service}}
                </h4>
                <p class="card__description">
                  {{.description}}
                </p>
                <div class="card__cta">
                  {{ if ne .ctaLink "" }}
                  <a class="cta-link" href="{{.ctaLink}}">
                    {{.service}} integration
                  </a>
                  {{ else }}
                    Coming soon!
                  {{ end }}
                </div>
              </div>
            {{ end }}
            <div class="card hidden"></div>
          </div>
        </div>
        <div class="integrations__cardlist" id="frameworks">
          <h3 class="list-title">
            Frameworks
          </h3>
          <div class="d-flex">
            {{ range .Params.frameworks}}
              <div class="card">
                <div class="card__img">
                  <img src="{{.icon}}" alt="{{.service}}" width="{{.iconWidth}}" height="{{.iconHeight}}" />
                </div>
                <h4 class="card__title">
                  {{.service}}
                </h4>
                <p class="card__description">
                  {{.description}}
                </p>
                <div class="card__cta">
                  {{ if ne .ctaLink "" }}
                  <a class="cta-link" href="{{.ctaLink}}">
                    {{.service}} integration
                  </a>
                  {{ else }}
                    Coming soon!
                  {{ end }}
                </div>
              </div>
            {{ end }}
            <div class="card hidden"></div>
          </div>
        </div>
        <div class="integrations__cardlist" id="infrastructure">
          <h3 class="list-title">
            Infrastructure
          </h3>
          <div class="d-flex">
            {{ range .Params.infrastructure}}
              <div class="card">
                <div class="card__img">
                  <img src="{{.icon}}" alt="{{.service}}" width="{{.iconWidth}}" height="{{.iconHeight}}" />
                </div>
                <h4 class="card__title">
                  {{.service}}
                </h4>
                <p class="card__description">
                  {{.description}}
                </p>
                <div class="card__cta">
                  {{ if ne .ctaLink "" }}
                  <a class="cta-link" href="{{.ctaLink}}">
                    {{.service}} integration
                  </a>
                  {{ else }}
                    Coming soon!
                  {{ end }}
                </div>
              </div>
            {{ end }}
            <div class="card hidden"></div>
          </div>
        </div>
      </div>
      {{ partial "start-for-free-row" . }}
    </div>
  </div>
{{end}}
