{{ define "main" }}
  <div class="main py-5">
    <div class="opensource">
      <section class="opensource__hero">
        <div class="container">
          <h1 class="display-3">Open Source</h1>
          <p class="opensource__hero__lead">
            Checkly's foundation is Open Source. We are not only using but building and supporting Open Source. To grow the OSS and headless automation community even further, give back and allow developers to keep doing incredible things.  🚀
          </p>
          <div class="cta-wraps">
            <a class="cta-link" href="https://github.com/checkly" target="_blank" rel="noopener">
              <img src="/images/arrow-up-right.svg" alt="arrow up right" width="8" height="8" />
              Get involved on GitHub
            </a>
          </div>
        </div>
      </section>
      <section class="opensource__initiatives">
        <div class="container">
          <h2 class="section-header">Our Open Source initiatives</h2>
          <div class="d-flex">
            <div class="card">
              <div class="card-image">
                <img src="/images/icons/pulumi-icon.svg" alt="pulumi logo" width="101" />
              </div>
              <h5>
                Pulumi Provider
                <span>
                  <img src="/images/github-star.svg" alt="github start" width="16" height="15" />
                </span>
                <span id="pulumi-provider"></span>
              </h5>
              <p>
                Allow users to manage Checkly resources using different programming language
              </p>
              <div class="cta-wraps">
                <a class="cta-link" href="https://www.pulumi.com/registry/packages/checkly/" target="_blank" rel="noopener">
                  <img src="/images/arrow-visit.svg" alt="arrow visit" width="13" height="13" />
                  Get Pulumi provider
                </a>
                <a class="cta-link" href="https://github.com/checkly/pulimi-checkly" target="_blank" rel="noopener">
                  See the code
                </a>
              </div>
            </div>

            <div class="card">
              <div class="card-image">
                <img src="/opensource/terraform_logo.svg" alt="terraform logo" width="101" height="92" />
              </div>
              <h5>
                Terraform Provider
                <span>
                  <img src="/images/github-star.svg" alt="github start" width="16" height="15" />
                </span>
                <span id="terraform-provider"></span>
              </h5>
              <p>The Terraform provider enables users to manage your Checkly resources</p>
              <div class="cta-wraps">
                <a class="cta-link" href="https://registry.terraform.io/providers/checkly/checkly/latest/docs" target="_blank" rel="noopener">
                  <img src="/images/arrow-visit.svg" alt="arrow visit" width="13" height="13" />
                  Get Terraform provider
                </a>
                <a class="cta-link" href="https://github.com/checkly/terraform-provider-checkly" target="_blank" rel="noopener">
                  See the code
                </a>
              </div>
            </div>
            <div class="card">
              <div class="card-image">
                <img src="/opensource/jam.svg" alt="jamstack deploy" width="101" height="92" />
              </div>
              <h5>
                Jamstack Deploy
                <span>
                  <img src="/images/github-star.svg" alt="github start" width="16" height="15" />
                </span>
                <span id="jamstack-deploy"></span>
              </h5>
              <p>Measure cloud providers and check which fits better for your Jamstack App</p>
              <div class="cta-wraps">
                <a class="cta-link" href="https://jamstackdeploy.com" target="_blank" rel="noopener">
                  <img src="/images/arrow-visit.svg" alt="arrow visit" width="13" height="13" />
                  Visit Jamstack Deploy
                </a>
                <a class="cta-link" href="https://github.com/checkly/jamstack-deploy" target="_blank" rel="noopener">
                  See the code
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="opensource__mmr">
        <div class="container text-center">
          <h2 class="section-header">1% goes to Open Source</h2>
          <p>
            We love Open Source and aim to donate 1% of our revenue to non-corporate backed Open Source maintainers building incredible things.
          </p>
          <p>
            Are you looking for support?
            <a href="https://docs.google.com/forms/d/1VCWOa7kxt9NRgtmnXcao0BZHZEISNtqP66SxdnBNiQQ/">Apply!</a>
          </p>
          <small>
            <a href="https://github.com/orgs/checkly/sponsoring" target="_blank" rel="noopener">
              Check who are we supporting
            </a>
          </small>
        </div>
      </section>
      <section class="opensource__posts">
        <div class="container">
          <h2 class="section-header">
            Recent posts from
            <a href="/learn/headless">
              Headless Automation Guides
            </a>
          </h2>
          <p class="lead">Playwright and Puppeteer tips, tricks and in-depth guides from the trenches</p>
          <div class="d-flex">
          {{ range $index := seq 6 }}
            <div class="card">
              <h6 id="card-{{$index}}-title"></h6>
              <p id="card-{{$index}}-description"></p>
              <div class="cta-wraps">
                <a class="cta-link" id="card-{{$index}}-link" target="_blank" rel="noopener">
                  <img src="/images/arrow-up-right.svg" alt="arrow up right" width="8" height="8" />
                  Read article
                </a>
            </div>
            </div>
          {{ end}}
          </div>
        </div>
      </section>
    </div>
    {{ partial "start-for-free-row" . }}
  </div>
{{end}}
