<!DOCTYPE html>
<html lang="en">
{{ partial "head" . }}

<body>
  <div class="slack-invite">
    <div>

      <img class="logo" src="/images/racoon_logo.svg" alt="Checkly Raccoon logo" width="400" height="400">
      <div class="initial">
        <h1>
          {{ .Params.headline }}
        </h1>
        <h2>
          {{ .Params.subHeadline }}
        </h2>
        <a href="https://join.slack.com/t/checklycommunity/shared_invite/zt-1gk7uwnht-OEh4SVoTHPpwHHo2QBzbBA"
          class="btn btn-primary" target="_blank">Join our Slack community</a>
        <div class="team">
          <ul>
            <li><img src="/images/slack/team/stefan.jpg" alt="Photo of Stefan" width="40" height="40"></li>
            <li><img src="/images/slack/team/lisa.jpg" alt="Photo of Lisa" width="40" height="40"></li>
            <li><img src="/images/slack/team/gio.jpg" alt="Photo of Gio" width="40" height="40"></li>
            <li><img src="/images/slack/team/jenya.jpg" alt="Photo of Jenya" width="40" height="40"></li>
            <li><img src="/images/slack/team/orcun.jpg" alt="Photo of Orcun" width="40" height="40"></li>
          </ul>
          <span>Developers who work on Checkly are already here</span>
        </div>
      </div>

      <footer>
        <a href="/">Checkly's</a> official developer <img src="/images/slack/slack-logo.png" alt="Slack">
        community
      </footer>
    </div>
  </div>
</body>

</html>
