{{ define "main" }}
<div class="main py-5">
    <div class="case-studies">
        <section class="case-studies__hero">
            <div class="container text-center">
                <h1 class="display-3 cases">Hear it from our users, not from us!</h1>
                <p class="case-studies__hero__lead">
                    Developers around the world are using Checkly to increase their reliability with less effort!</p>
                <p class="case-studies__hero__lead">
                    Read their stories here </p>
            </div>
        </section>
        <section class="case-studies__initiatives">
            <div class="container">
                <div class="row main-client">
                    <div class="card col-lg-4 col-md-4 d-none d-lg-block case-studies__detail">
                        <a href="https://www.checklyhq.com/case-studies/finn-auto" rel="noopener">
                            <div class="cardbg finn">
                                <div class="opacity-filter"></div>
                                <img src="/case-studies/finnlogo.png" alt="finn.auto logo" width="90" height="25" />
                            </div>
                            <div class="main-text">
                                <h5>finn.auto</h5>
                                <p>finn.auto uses Checkly to ensure booking processes work all the time, everywhere!</p>
                                <div class="cta-wraps">
                                    <p class="cta-p">
                                        Read Case Study
                                        <img class="ml-2" src="/case-studies/arrow.png" alt="arrow" width="13"
                                            height="13" />
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="card col-lg-7 col-md-10 case-studies__aligning">
                        <div class="cardbg schwarz">
                            <div class="opacity-filter"></div>
                            <img class="schwarz-logo" src="/case-studies/schwarzlogo.png" alt="schwarz logo" width="122"
                                height="150" />
                        </div>
                        <div class="main-text">
                            <h5>SchwarzIT - Monitoring-as-Code</h5>
                            <p>Learn how one of the largest retailer worldwide uses Checkly and Terraform to make
                                complex real-world infrastructure more resilient and delivering a better end-user
                                experience.</p>
                            <div class="cta-wraps">
                                <a class="cta-link"
                                    href="https://www.hashicorp.com/blog/monitoring-as-code-with-terraform-cloud-and-checkly"
                                    target="_blank" rel="noopener">
                                    Read Case Study
                                    <img class="ml-2" src="/images/arrow-visit.svg" alt="arrow visit" width="13"
                                        height="13" />
                                </a>
                                <a class="cta-link" href="https://www.youtube.com/watch?v=KPdCxMqprdc&t=2s"
                                    target="_blank" rel="noopener">
                                    Watch Webinar Recording
                                    <img class="ml-2" src="/images/arrow-visit.svg" alt="arrow visit" width="13"
                                        height="13" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row card-set">
                    <div class="card col-lg-4 col-md-5 d-block d-lg-none case-studies__detail">
                        <a href="https://www.checklyhq.com/case-studies/finn-auto" rel="noopener">
                            <div class="cardbg finn">
                                <div class="opacity-filter"></div>
                                <img src="/case-studies/finnlogo.png" alt="finn.auto logo" width="90" height="25" />
                            </div>
                            <div class="main-text">
                                <h5>finn.auto</h5>
                                <p>finn.auto uses Checkly to ensure booking processes work all the time, everywhere!</p>
                                <div class="cta-wraps">
                                    <p class="cta-p">
                                        Read Case Study
                                        <img class="ml-2" src="/case-studies/arrow.png" alt="arrow visit" width="13"
                                            height="13" />
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="card col-lg-4 col-md-5 case-studies__detail">
                        <a href="https://blog.1password.com/securely-monitoring-scim-bridges/"
                            target="_blank" rel="noopener">
                            <div class="cardbg password">
                                <div class="opacity-filter"></div>
                                <img src="/case-studies/1passlogo.png" alt="1password logo" width="125" height="25" />
                            </div>
                            <div class="main-text">
                                <h5>1Password</h5>
                                <p>Secure health monitoring for 1Passwords SCIM bridges.</p>
                                <div class="cta-wraps">
                                    <p class="cta-p">
                                        Read Case Study
                                        <img class="ml-2" src="/images/arrow-visit.svg" alt="arrow visit" width="13"
                                            height="13" />
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="card col-lg-4 col-md-5 case-studies__aligning soon-card">
                        <div class="cardbg locus">
                            <div class="opacity-filter"></div>
                            <img src="/case-studies/locuslogo.png" alt="locus logo" width="115" height="25" />
                        </div>
                        <div class="main-text">
                            <h5>locus.sh</h5>
                            <p>Locus uses Checkly to stay ahead of issues in production</p>
                            <p class="coming-soon">Coming soon</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    {{ partial "start-for-free-row" . }}
</div>
{{end}}