@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
  font-family: 'Source Code Pro';
  src: url('https://s3.eu-central-1.amazonaws.com/cdn.checklyhq.com/fonts/Source_Code_Pro/SourceCodePro-Regular.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: optional;
}
