<!DOCTYPE html>
<html lang="en">
<head>
  {{ .Scratch.Set "template_name" "site" }}
  {{ partial "head" . }}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lite-youtube-embed/src/lite-yt-embed.css" />
  <script src="https://cdn.jsdelivr.net/npm/lite-youtube-embed/src/lite-yt-embed.js" defer></script>
</head>

<body>
  {{ partial "navbar" . }}
  {{ block "main" . }}
  {{ end }}
  {{ partial "scripts" . }}
  {{ partial "footer" . }}
  <script src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
  <script src="/js/docs.js"></script>
  <script>
    docsearch({
      apiKey: 'b2b616fdea14b860ff00c72fa72bf267',
      indexName: 'checkly_docs',
      appId: 'LCMJSZN73Z',
      inputSelector: '#search',
      debug: false
    })
  </script>
</body>
</html>
