{{ $header := .Get "header" }} {{ $image := .Get "img" }}
<div class="row pt-4 pb-5">
  <div class="col-sm-4 text-left d-flex">
    <div class="feature-row-item-wrapper my-auto">
      <h3 class="section-header mt-0 pb-0">{{$header}}</h3>
      <p>{{.Inner | markdownify }}</p>
    </div>
  </div>
  <div class="col-sm-8 text-right">
    <picture>
      <source type="image/webp" srcset="{{ substr $image 0 -4 | safeURL }}.webp">
      <source type="image/png" srcset="{{$image}}">
      <img  class="img-w720 big-drop-shadow rounded" src="{{$image}}" alt="{{$header}}" loading="lazy" />
    </picture>
  </div>
</div>
