{{$header_tag := .Get "headerTag"}} {{ $title := .Get "title" }} {{ $class := .Get "class" }} {{ $image := .Get "img" }} {{ $description := .Get "description"}}  {{ $link := .Get "link" }}
<a class="basic-card {{$class}}" href="{{$link}}">
	<div>
			<div class="text-wrap">
				{{ if eq $header_tag "h2"}}
					{{ if $image }}
						<img src="{{$image}}" alt="{{$title}}" width="42" height="42" />
					{{ end}}
					<h2>{{$title}}</h2>
				{{ else }}
					<h3>
						{{ if $image }}
							<img src="{{$image}}" alt="{{$title}}" width="24" height="24" />
						{{ end }}
						{{$title}}
					</h3>
				{{ end }}
				<p>{{$description}}</p>
			</div>
	</div>
</a>
