{{ $Runtimes := getJSON "https://api-dev.checklyhq.com/v1/runtimes" }}

{{ range $Runtimes }}
  {{ if ne .stage "BETA" }}

  ### `{{ .name }}`
    {{ if eq .stage "DEPRECATED" }}
      ({{ .stage }})
    {{ end }}
  {{ if eq .stage "DEPRECATED" }}
    This runtime will be available until {{ .runtimeEndOfLife }}. Please update your checks' runtimes and account settings
    to avoid failures due to automatic change to the next supported runtime.
  {{ end }}

  Node.js Version: `{{ .nodeJsVersion }}`

  {{ .description }}

  {{ range $key, $value := .dependencies }}
  - [{{ $key }}](https://npmjs.com/package/{{ $key }}/v/{{ $value }}) {{ $value }}
  {{ end }}

  {{ end }}
{{ end }}
