{{ define "main" }}
<div class="career">
  <div class="container py-5 career__hero">
    <div class="row">
      <div class="col-sm-12 col-lg-8 offset-lg-2 text-center">
        <h1 class="display-3">{{.Params.hero.title}}</h1>
        <p class="lead-text">
          {{ .Params.hero.description}}
        </p>
        <div>
          <a class="btn btn-blue" href="https://jobs.ashbyhq.com/checkly" target="_blank">
            {{ .Params.hero.buttonTxt}}
          </a>
        </div>
      </div>
    </div>
  </div>
  <section class="career__about">
    <div class="container narrow-container">
      <div class="row">
        <div class="career__about__logo">
          <picture>
            <source type="image/webp" srcset="{{ substr .Params.aboutUs.image 0 -4 | safeURL }}.webp">
            <source type="image/png" srcset="{{ .Params.aboutUs.image }}">
            <img src="{ .Params.aboutUs.image }}" alt="{{ .Params.integrates.title }}" loading="lazy" width="140" height="125" />
          </picture>
        </div>
        <div class="career__about__text">
          <h3 class="section-header">{{.Params.aboutUs.title}}</h3>
          <p class="lead-text">{{.Params.aboutUs.description | safeHTML}}</p>
          <a href="/about">Learn more about our story</a>
        </div>
      </div>
    </div>
    <div class="container team-pictures">
      <picture class="spacing">
        <source type="image/webp" srcset="{{ substr .Params.aboutUs.teamPhoto 0 -4 | safeURL }}.webp">
        <source type="image/png" srcset="{{ .Params.aboutUs.teamPhoto }}">
        <img class="career__about__team" src="{{ .Params.aboutUs.teamPhoto }}" alt="{{ .Params.aboutUs.teamPhotoAlt }}" loading="lazy" width="1200" height="681" />
      </picture>
      <picture >
        <source type="image/png" srcset="/images/careers/catalonia@2x.jpg">
        <img class="career__about__team" src="/images/careers/catalonia@2x.jpg" alt="{{ .Params.aboutUs.cataloniaPhotoAlt }}" loading="lazy" width="1200" height="681" />
      </picture>
    </div>
  </section>
  <section class="career__features section-light-gray">
    <div class="container">
      <div class="row">
        {{ range .Params.features}}
        <div class="feature-item">
          <h2>{{.number}}</h2>
          <p>{{.text}}</p>
        </div>
        {{ end }}
      </div>
    </div>
  </section>
  <section class="career__values">
    <div class="container">
      <h3 class="section-header">{{.Params.values.title}}</h3>
      <p class="lead-text">{{.Params.values.description}}</p>
      <div class="row">
        {{ range .Params.values.list }}
        <div class="value-card">
          <h5>{{.title}}</h5>
          <p>{{.description}}</p>
        </div>
        {{ end }}
      </div>
      <div>
        <a class="btn btn-blue" href="https://jobs.ashbyhq.com/checkly" target="_blank">
          {{ .Params.values.buttonTxt}}
        </a>
      </div>
    </div>
  </section>
  <div class="career__trusted section-light-gray">
    {{ partial "trusted-by-section" . }}
  </div>
  <section class="career__location">
    <div class="container">
      <h3 class="section-header text-center">{{.Params.location.title}}</h3>
      <p class="lead-text text-center">{{.Params.location.description}}</p>
      <div class="career__location__map">
        <picture>
          <source type="image/webp" srcset="{{ substr .Params.location.map 0 -4 | safeURL }}.webp">
          <source type="image/png" srcset="{{ .Params.location.map }}">
          <img src="{ .Params.location.map }}" alt="{{ .Params.location.title }}" loading="lazy" />
        </picture>
      </div>
    </div>
  </section>
  <section class="career__benefits section-light-gray">
    <div class="container">
      <h3 class="section-header text-center">{{.Params.benefits.title}}</h3>
      <div class="row">
        {{ range $index, $element := .Params.benefits.list}}
          <div class="benefit-card">
            <div class="content-wrap">
              <div class="image-wrap">
                <img src={{$element.icon}} alt="{{$element.title}}" />
              </div>
              <div class="text-wrap">
                <h5>{{$element.title}}</h5>
              </div>
            </div>
          </div>
        {{ end }}
      </div>
    </div>
  </section>
  <section class="career__calculator" id="calculator">
    <div class="container">
      <h3 class="section-header">{{.Params.calculator.title}}</h3>
      <p class="lead-text">{{.Params.calculator.description | safeHTML}} <a href="{{.Params.calculator.howItWorksLink}}">Learn how it works</a>.</p>
      <div class="center">
        <a class="btn btn-blue" href="{{.Params.calculator.buttonLink}}" rel="noopener" target="_blank">
          {{ .Params.calculator.buttonText}}
        </a>
      </div>
    </div>
  </section>
  <section class="career__howhire">
    <div class="container">
      <div class="career__howhire__card">
        <h3 class="section-header">{{.Params.howWeHire.title}}</h3>
        <p class="lead-text">{{.Params.howWeHire.description}}</p>
        <a class="btn btn-blue" href="{{.Params.howWeHire.buttonLink}}" rel="noopener" target="_blank">
          <img src="/images/careers/book-icon.svg" alt="book icon" />
          {{ .Params.howWeHire.buttonText}}
        </a>
      </div>
    </div>
    <div class="hire-btn center">
      <a class="btn btn-blue" href="https://jobs.ashbyhq.com/checkly" target="_blank">
        {{ .Params.hero.buttonTxt}}
      </a>
    </div>
  </section>
</div>
{{end}}
