<!DOCTYPE html>
<html lang="en">
  {{ partial "head" . }}
  <body class="landing">
  {{ partial "navbar" . }}
    <div class="main">
      <div class="landing" id="landing">
        {{ partial "hero-section" . }}
        {{ partial "trusted-by-section" . }}
        {{ partial "site-monitoring-section" . }}
        {{ partial "api-monitoring-section" . }}
        {{ partial "e2e-pr-section" . }}
        {{ partial "alerting-section" . }}
        {{ partial "results-section" . }}
        {{ partial "workflow-section" . }}
        {{ partial "testimonial-quote-full-width-1" . }}
        {{ partial "testimonial-three-col-row" . }}
        {{ partial "all-features" . }}
        {{ partial "public-stats-section" . }}
      </div>
    </div>
      {{ partial "footer" . }}
      {{ partial "scripts" . }}
  </body>
</html>
