<!DOCTYPE html>
<html lang="en">
{{ .Scratch.Set "template_name" "site" }}
{{ partial "head" . }}

<body class="landing">
  {{ partial "navbar" . }}
  <div class="main">
    <div class="landing" id="landing">
      {{ partial "code-test-deploy-hero-section" . }}
      {{ partial "trusted-by-section" . }}
      {{ partial "site-monitoring-section" . }}
      {{ partial "api-monitoring-section" . }}
      {{ partial "private-locations-section" . }}
      {{ partial "alerting-section" . }}
      {{ partial "results-section" . }}
      {{ partial "terraform-section" . }}
      {{ partial "workflow-section" . }}
      {{ partial "read-case-stuides" . }}
      {{ partial "testimonial-three-col-row" . }}
      {{ partial "all-features" . }}
    </div>
  </div>
  {{ partial "footer" . }}
  {{ partial "scripts" . }}
  <script src="/js/cliCopyButton.js"></script>
</body>
</html>
