.dropdown-menu {
  @include screen-shadow();
  border: 0px;
  width: 320px;
  left: -100px;
  padding: 15px 0;
  z-index: 2;
  
  .d-flex {
    display: flex;
    .menu-icon {
      margin-right: 15px;
    }
    .menu-title {
      font-size: 14px;
      line-height: 20px;
      font-weight: 600;
      color: $gray-darkish;
    }
    .menu-text {
      font-size: 12px;
      line-height: 20px;
      color: $gray-darkish;
    }
  }
}
.product-dropdown {
  padding-top: 0;
  padding-bottom: 0;
  width: 614px;

  .dropmenu-triangle {
    left: 145px;
  }

  .d-flex {
    flex-wrap: wrap;
    justify-content: space-between;

    .left-side {
      width: 320px;
      border-right: 1px solid $gray-lighter;
    }
    .right-side {
      width: calc(100% - 320px);
      .monitoring, .case-studies {
        border-bottom: 1px solid $gray-lighter;
      }
    }
  }

  .dropdown-item {
    width: 100%;
    .d-flex {
      flex-wrap: nowrap;
    }
  }

  .right-side-item{
    width: 100%;
    height: 33.3%;
    .d-flex {
      justify-content: space-between;
      .menu-title {
        color: $pink;
      }
      .menu-icon {
        margin-right: 12px;
      }
    }
  }
}

.dropmenu-triangle {
  position: absolute;
    top: -8px;
    transform: rotate(45deg);
    z-index: 1;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 19px 19px 0 0;
    border-color: #ffffff transparent transparent transparent;
}

.dropdown-item {
  padding: 30px 24px;
  white-space: unset;
  height: 25%;
  &:hover {
    .menu-title {
      color: $black;
    }
    .dropmenu-triangle {
      border-color: #f9fafc transparent transparent transparent;
    }
  }
}

.dropdown-toggle {
  &:after {
    border: none;
    vertical-align: middle;
    line-height: 0;
    content: '\F123';
    display: inline-block;
    font-family: Ionicons;
    margin: 0.5rem;
    font-size: 10px;
  }
}

@include media-breakpoint-down(md) {
  .dropdown-menu {
    width: 100%;
    padding: 8px 0;
    left: 0;

    .d-flex {
      .menu-icon {
        display: none;
      }
      .menu-text {
        display: none;
      }
    }
  }
  .product-dropdown {
    .d-flex {
      .left-side {
        padding-top: 0;
        width: 100%;
        border: 0px;
      }
      .right-side {
        width: 100%;
        .monitoring, .case-studies {
          border: 0;
        }
      }
    }
    .dropdown-item {
      width: 100%;
      padding-top: 5px;
      padding-bottom: 5px;
      .d-flex {
        .menu-title {
          color: $gray-darkish;
        }
      }
    }
  }
  .dropmenu-triangle {
    display: none;
  }
  .dropdown-item {
    padding: 3px 24px;
  }
}
