.dropdown-menu {
  @include screen-shadow();
  border: 0px;
  width: 320px;
  left: -100px;
  padding: 15px 0;
  z-index: 2;
  
  .d-flex {
    display: flex;
    .menu-icon {
      margin-right: 15px;
    }
    .menu-title {
      font-size: 14px;
      line-height: 20px;
      font-weight: 600;
      color: $gray-darkish;
    }
    .menu-text {
      font-size: 12px;
      line-height: 20px;
      color: $gray-darkish;
    }
  }
}
.product-dropdown {
  padding-bottom: 0;
  width: 617px;

  .dropmenu-triangle {
    left: 145px;
  }

  .d-flex {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .dropdown-item {
    width: 50%;
    .d-flex {
      flex-wrap: nowrap;
    }
  }

  .why-checkly{
    width: 100%;
    border-top: 1px solid $gray-lighter;
    .d-flex {
      align-items: center;
      justify-content: space-between;
      .menu-title {
        color: $pink;
      }
      .menu-icon {
        margin-right: 0;
      }
    }
  }
}

.dropmenu-triangle {
  position: absolute;
  top: -8px;
  left: calc(50% - 15px);
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  background: white;
  z-index: 1;
}

.dropdown-item {
  padding: 15px 24px;
  white-space: unset;
  &:hover {
    .menu-title {
      color: $black;
    }
  }
}

.dropdown-toggle {
  &:after {
    border: none;
    vertical-align: middle;
    line-height: 0;
    content: '\F123';
    display: inline-block;
    font-family: Ionicons;
    margin: 0.5rem;
    font-size: 10px;
  }
}

@include media-breakpoint-down(md) {
  .dropdown-menu {
    width: 100%;
    padding: 8px 0;
    left: 0;

    .d-flex {
      .menu-icon {
        display: none;
      }
      .menu-text {
        display: none;
      }
    }
  }
  .product-dropdown {
    .dropdown-item {
      width: 100%;
    }
    .dropdown-item:last-child{
      border-top: 0px;
      .d-flex {
        .menu-title {
          color: $gray-darkish;
        }
      }
    }
  }
  .dropmenu-triangle {
    display: none;
  }
  .dropdown-item {
    padding: 3px 24px;
  }
}
