.nav-tabs {
  border-bottom: none;
  .nav-link {
    text-transform: uppercase;
    font-size: 13px;
    color: $gray;
    font-weight: $font-weight-bold;
    line-height: 24px;
    letter-spacing: .04rem;

    &.active {
      color: $brand-primary;
      border-bottom: 4px solid $brand-primary !important;
      background-color: transparent;
    }
    &:hover {
      color: $brand-primary;
    }
  }
}

.tab-content {
  padding: 1.5 * $spacer $spacer;
}
