{{ define "main" }}
<div class="main">
  <div class="pricing">
    <div class="container">
      <!-- HEADER-->

      <div class="pricing__hero d-flex flex-column align-items-center text-center">
        <h1 class="display-3">Flexible pricing</h1>
        <div class="pricing__lead">Get started with the most delightful active monitoring for your hobby projects, business sites, and crucial enterprise applications.
        </div>
      </div>

      <!-- CARDS --->

      <div class="pricing__plans">

        <!-- HOBBY CARD -->
        <div class="pricing__card pricing__card--small pricing__card pricing__card--light-gray ">
          <div class="pricing__love-devs">
            <img src="/images/love-devs.svg" alt="Checkly" />
          </div>
          <h3 class="">Hobby</h3>
          <div class="d-flex flex-column pricing__card--pricing-details mt-4">
            <div class="pricing__fancy-price justify-content-center">
              <div class="pricing__fancy-price__dollar-sign pricing__fancy-price__dollar-sign--big">$</div>
              <div class="pricing__fancy-price__price--big">0</div>
            </div>
            <div class="pricing-muted">forever</div>
          </div>
          <div class="pricing__list">
            <ul class="pt-3">
              <li>
                <i class="ion-ios-checkmark text-primary mr-2"></i>
                10 API checks + 5 Browser checks
              </li>
              <li>
                <i class="ion-ios-checkmark text-primary mr-2"></i>
                50k API check runs&nbsp;<span class="small"> / mo</span>
              </li>
              <li>
                <i class="ion-ios-checkmark text-primary mr-2"></i>
                5k browser check runs&nbsp;<span class="small"> / mo</span>
              </li>
              <li>
                <i class="ion-ios-checkmark text-primary mr-2"></i>
                1 user, basic features
              </li>
            </ul>
          </div>
          <a class="btn btn-success pricing__card-right__btn" href="https://app.checklyhq.com/signup" rel="noopener" data-test="pricing-free-signup">Start for free</a>
        </div>

        <!-- TEAMS CARD -->
        <div class="pricing__card pricing__card--small pricing__card pricing__card--medium-gray">
          <h3 class="">Team</h3>
          <div class="d-flex flex-column pricing__card--pricing-details mt-4">
            <div class="pricing__fancy-price justify-content-center">
              <div class="pricing__fancy-price__dollar-sign pricing__fancy-price__dollar-sign--big">$</div>
              <div class="pricing__fancy-price__price--big">70</div>
            </div>
            <div class="pricing-muted">per month</div>
            <div class="pricing-muted-subtitle">or $672 / year (20% discount)</div>
          </div>
          <div class="pricing__list">
            <ul class="pt-3">
              <li>
                <i class="ion-ios-checkmark text-primary mr-2"></i>
                Unlimited API + Browser checks
              </li>
              <li>
                <i class="ion-ios-checkmark text-primary mr-2"></i>
                Unlimited check runs
              </li>
              <li>
                <i class="ion-ios-checkmark text-primary mr-2"></i>
                Unlimited users, advanced features
              </li>
              <li>
                <i class="ion-ios-checkmark text-primary mr-2"></i>
                No commitment upfront
              </li>
            </ul>
          </div>
          <a class="btn btn-success pricing__card-right__btn" href="https://app.checklyhq.com/signup" rel="noopener">Start for free</a>
        </div>

        <!-- ENTERPRISE CARD -->
        <div class="pricing__card pricing__card--small pricing__card pricing__card--black">
          <h3 class="">Enterprise</h3>
          <div class="d-flex flex-column pricing__card--pricing-details">
            <div class="font-weight-bold">Starting at</div>
            <div class="pricing__fancy-price justify-content-center">
              <div class="pricing__fancy-price__dollar-sign pricing__fancy-price__dollar-sign--big pricing__fancy-price__dollar-sign--white">$</div>
              <div class="pricing__fancy-price__price pricing__fancy-price__price--big pricing__fancy-price__price--white">1500</div>
            </div>
            <div>per month</div>
          </div>
          <div class="pricing__list">
            <ul class="pt-3">
              <li>
                <i class="ion-ios-checkmark text-primary mr-2"></i>
                Maximize your reliability
              </li>
              <li>
                <i class="ion-ios-checkmark text-primary mr-2"></i>
                25 months data retention
              </li>
              <li>
                <i class="ion-ios-checkmark text-primary mr-2"></i>
                Premium Support & 99.9% SLA
              </li>
              <li>
                <i class="ion-ios-checkmark text-primary mr-2"></i>
                SSO/SAML
              </li>
            </ul>
          </div>
          <button type="button" class="btn btn-primary pricing__card-right__btn" data-toggle="modal" data-target="#contact-sales-modal">
            Contact sales
          </button>
        </div>

        <div class="pricing__plans--toggle">
          <span><img class="pricing__plans--toggle-arrow" src="/images/icons/svg/pink-drop.svg" width="14" height="7.75" /></span>
          <span class="ml-1 mr-1">Prepay - Get a discount for your commitment.</span>
          <span><img class="pricing__plans--toggle-arrow" src="/images/icons/svg/pink-drop.svg" width="14" height="7.75" /></span>
        </div>
        <div id="pricing__plans--toggle-card" class="pricing__card--light pricing__card--hidden">
          <div class="d-flex flex-row justify-content-between">
            <div class="pricing">
              <div class="pricing__wrap">
                <h4>Monthly</h4>
                <div class="mr-4">
                  <div class="pricing__fancy-price justify-content-center">
                    <div class="pricing__fancy-price__dollar-sign">$</div>
                    <div class="pricing__fancy-price__price">2.00</div>
                  </div>
                  <div class="text-muted small">for 10k API check runs</div>
                </div>
                <div>
                  <div class="pricing__fancy-price justify-content-center">
                    <div class="pricing__fancy-price__dollar-sign">$</div>
                    <div class="pricing__fancy-price__price">5.00</div>
                  </div>
                  <div class="text-muted small">for 1k Browser check runs</div>
                </div>
              </div>
              <div class="pricing__wrap-divider"></div>
              <div class="pricing__wrap">
                <h4>Annual</h4>
                <div class="mr-4">
                  <div class="pricing__fancy-price justify-content-center">
                    <div class="pricing__fancy-price__dollar-sign">$</div>
                    <div class="pricing__fancy-price__price">1.50</div>
                  </div>
                  <div class="text-muted small">for 10k API check runs</div>
                </div>
                <div>
                  <div class="pricing__fancy-price justify-content-center">
                    <div class="pricing__fancy-price__dollar-sign">$</div>
                    <div class="pricing__fancy-price__price">4.00</div>
                  </div>
                  <div class="text-muted small">for 1k Browser check runs</div>
                </div>
              </div>
            </div>
            <div class="pricing__list">
              <ul class="pt-3">
                <li>
                  <i class="ion-ios-checkmark text-primary mr-2"></i>
                  Create your own plan
                </li>
                <li>
                  <i class="ion-ios-checkmark text-primary mr-2"></i>
                  Pay upfront, get a discount
                </li>
                <li>
                  <i class="ion-ios-checkmark text-primary mr-2"></i>
                  Unlimited users, all features
                </li>
              </ul>
            </div>
          </div>
          <a class="btn btn-success pricing__card-right__btn" href="https://app.checklyhq.com/signup" rel="noopener">Start for free</a>

          <div class="pricing__wrap-divider"></div>
          <!-- Example CALCULATIONS -->

          <div class="d-flex flex-column flex-wrap justify-content-center align-items-center text-center pricing__calculation">
            <h2 class="mb-5">How many check runs do I need?</h2>
            <h4 class="mb-5">
              10 API checks <span class="text-muted">running every</span> minute <span class="text-muted">makes </span> <span class="pricing__check-runs-indicator">446,400</span> <span class="text-muted"> check runs per month</span>
            </h4>
            <div class="d-flex flex-column text-center">
              <div class="text-muted mb-2">Daily runs: 10 x 60 x 24 = 14,400 runs</div>
              <div class="text-muted mb-2">Monthly runs: 14,400 x 31 = <span class="text-gray-dark pricing__check-runs-indicator pricing__check-runs-indicator--secondary">446,400 runs</span> </div>
              <div class="text-muted">Which costs me (446,400 / 10,000) * $2.50 = $111.60 per month on the "Pay as you go"-plan.</div>
            </div>
            <div class="pricing__spreadsheet">
              <a class="d-flex" href="https://docs.google.com/spreadsheets/u/1/d/1PWwRa41Bp3ViwF-h8e_xw-eiWgaIiqzlg5faRoiidUI/copy" target="_blank" rel="noopener">
                <img src="/images/google_Sheets_logo@2x.png" alt="Google Sheets Logo" width="14" height="18" />
                Use our pricing spreadsheet to build your plan
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="pricing__view-old">
        <a class="d-flex justify-content-center" href="/pricing-v2">
          View previous pricing
        </a>
      </div>

      <!-- CONTACT SALES MODAL -->
      <div class="modal fade contact-modal" id="contact-sales-modal" tabindex="-1" role="dialog" aria-labelledby="contactSalesModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form id="contact-sales-form" action="#" onsubmit="checkForm();return false">
                <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" class="form-control" id="name" placeholder="John Doe">
                </div>
                <div class="form-group">
                  <label for="email">Email <span class="text-danger">*</span></label>
                  <input type="email" class="form-control" id="email" placeholder="john.doe@example.com" required>
                </div>
                <div class="form-group">
                  <label for="website">Company website</label>
                  <input type="url" class="form-control" id="website" placeholder="https://example.com">
                </div>
                <div class="form-group">
                  <label for="company_size">Company size</label>
                  <select class="form-control" id="company_size">
                    <option>1-100</option>
                    <option>101-1000</option>
                    <option>1001-5000</option>
                    <option>5000+</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="message">Project Details or Questions</label>
                  <textarea class="form-control" id="message" rows="7" placeholder="Tell us about your project, your team and your company. What are you planning to monitor?"></textarea>
                </div>
                <div class="submit-button">
                  <input class="btn btn-primary" form="contact-sales-form" type="submit" value= "Send message"/>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

    <!-- TRUSTED BY -->
    <div class="pricing__trusted-by">
      {{ partial "trusted-by-section" . }}
    </div>

    <div class="container">
      <!-- FEATURE TABLE -->


      <div class="d-flex flex-column align-items-center text-center">
        <h2 class="mb-5" id="features">Feature overview</h2>
        <table class="pricing__feature-table mb-4">
        <thead>
        <tr>
          <th>

          </th>
          <th>Hobby</th>
          <th>Team</th>
          <th>Enterprise</th>
        </tr>
        </thead>
        <tbody>
          <tr>
            <th>Browser checks</th>
            <td>5</td>
            <td>Unlimited</td>
            <td>Unlimited</td>
          </tr>
          <tr>
            <th>API checks</th>
            <td>10</td>
            <td>Unlimited</td>
            <td>Unlimited</td>
          </tr>
          <tr>
            <th>API check runs</th>
            <td>50,000 / month</td>
            <td>Unlimited</td>
            <td>Custom</td>
          </tr>
          <tr>
            <th>Browser check runs</th>
            <td>5000 / month</td>
            <td>Unlimited</td>
            <td>Custom</td>
          </tr>
          <tr>
            <th>High-frequency intervals</th>
            <td>
              <div class="pricing__tooltip">
                  10 sec / 60 sec
                <div class="pricing__tooltip--body">
                  API checks can be scheduled every 10 seconds,
                  browser checks every min.
                </div>
              </div>
            </td>
            <td>
              <div class="pricing__tooltip">
                10 sec / 60 sec
                <div class="pricing__tooltip--body">
                  API checks can be scheduled every 10 seconds,
                  browser checks every min.
                </div>
              </div>
            </td>
            <td>Custom</td>
          </tr>
          <tr>
            <th>Users</th>
            <td>1</td>
            <td>20</td>
            <td>Custom</td>
          </tr>
          <tr>
            <th>Public dashboards</th>
            <td>1</td>
            <td>10</td>
            <td>Unlimited*</td>
          </tr>
          <tr>
            <th>Data center locations</th>
            <td>20</td>
            <td>20</td>
            <td>20</td>
          </tr>
          <tr>
            <th>
              Raw data retention
            </th>
            <td>7 days</td>
            <td>30 days</td>
            <td>180 days</td>
          </tr>
          <tr>
            <th>
              Aggregated data retention
            </th>
            <td>7 days</td>
            <td>1 year</td>
            <td>25 months</td>
          </tr>
          <tr>
            <th>SMS credits</th>
            <td><i class="ion-close-circled text-muted"></i></td>
            <td>200*</td>
            <td>Custom</td>
          </tr>
          <tr>
            <th>SSL monitoring</th>
            <td><i class="ion-ios-checkmark text-success"></i></td>
            <td><i class="ion-ios-checkmark text-success"></i></td>
            <td><i class="ion-ios-checkmark text-success"></i></td>
          </tr>
          <tr>
            <th>
              <div class="pricing__tooltip">
                Private locations
                <div class="pricing__tooltip--body">
                  Get full visibility of private applications and APIs across your infrastructure, on-prem and in your private or hybrid cloud.
                </div>
              </div>
            </th>
            <td><i class="ion-ios-checkmark text-muted"></i></td>
            <td><i class="ion-ios-checkmark text-muted"></i></td>
            <td><i class="ion-ios-checkmark text-success"></i></td>
          </tr>
          <tr>
            <th>
              <div class="pricing__tooltip">
                Email, Slack, Webhooks and more
                <div class="pricing__tooltip--body">
                  All plans have access to our basic alerting integrations like email, Slack and Webhooks. In addition,
                  you also have access to an ever growing list of 3rd party integrations like Pagerduty, Opsgenie and Discord.
                </div>
              </div>
            </th>
            <td><i class="ion-ios-checkmark text-success"></i></td>
            <td><i class="ion-ios-checkmark text-success"></i></td>
            <td><i class="ion-ios-checkmark text-success"></i></td>
          </tr>
          <tr>
            <th>
              <div class="pricing__tooltip">
                Threshold based alerting
                <div class="pricing__tooltip--body">
                  Configure when and how often your are alerted and how many reminders you should get
                </div>
              </div>
            </th>
            <td><i class="ion-ios-checkmark text-success"></i></td>
            <td><i class="ion-ios-checkmark text-success"></i></td>
            <td><i class="ion-ios-checkmark text-success"></i></td>
          </tr>
          <tr>
            <th>
              <div class="pricing__tooltip">
                Setup & teardown scripts
                <div class="pricing__tooltip--body">
                  Have full control over request data and responses using custom Javascript snippets.
                </div>
              </div>
            </th>
            <td><i class="ion-ios-checkmark text-success"></i></td>
            <td><i class="ion-ios-checkmark text-success"></i></td>
            <td><i class="ion-ios-checkmark text-success"></i></td>
          </tr>
          <tr>
            <th>Maintenance windows </th>
            <td><i class="ion-ios-checkmark text-muted"></i></td>
            <td><i class="ion-ios-checkmark text-success"></i></td>
            <td><i class="ion-ios-checkmark text-success"></i></td>
          </tr>
          <tr>
            <th>API access</th>
            <td><i class="ion-ios-checkmark text-success"></i></td>
            <td><i class="ion-ios-checkmark text-success"></i></td>
            <td><i class="ion-ios-checkmark text-success"></i></td>
          </tr>
          <tr>
            <th>Terraform provider</th>
            <td><i class="ion-ios-checkmark text-success"></i></td>
            <td><i class="ion-ios-checkmark text-success"></i></td>
            <td><i class="ion-ios-checkmark text-success"></i></td>
          </tr>
          <tr>
            <th>Pulumi provider</th>
            <td><i class="ion-ios-checkmark text-success"></i></td>
            <td><i class="ion-ios-checkmark text-success"></i></td>
            <td><i class="ion-ios-checkmark text-success"></i></td>
          </tr>
          <tr>
            <th>
              <div class="pricing__tooltip">
                CI/CD & Deployment triggers
                <div class="pricing__tooltip--body">
                  Automatically trigger checks from a GitHub PR or commit for automated testing before deploying to production. Works out-of-the-box with Vercel, Heroku etc. Use our command line triggers to integrate with any CI/CD provider.
                </div>
              </div>
            </th>
            <td><i class="ion-ios-checkmark text-success"></i></td>
            <td><i class="ion-ios-checkmark text-success"></i></td>
            <td><i class="ion-ios-checkmark text-success"></i></td>
          </tr>
          <tr>
            <th>
              <div class="pricing__tooltip">
                Prometheus endpoint
                <div class="pricing__tooltip--body">
                  We provision a custom, secured endpoint that exposes checks statuses and response times in Prometheus format.
                </div>
              </div>
            </th>
            <td><i class="ion-ios-checkmark text-muted"></i></td>
            <td><i class="ion-ios-checkmark text-success"></i></td>
            <td><i class="ion-ios-checkmark text-success"></i></td>
          </tr>
          <tr>
            <th>
              <div class="pricing__tooltip">
                Reporting
                <div class="pricing__tooltip--body">
                  Get a longer term, aggregated overview on uptime and performance. Exports to CSV for further processing.
                </div>
              </div>
            </th>
            <td><i class="ion-ios-checkmark text-success"></i></td>
            <td><i class="ion-ios-checkmark text-success"></i></td>
            <td><i class="ion-ios-checkmark text-success"></i></td>
          </tr>
          <tr>
            <th>SAML/SSO login</th>
            <td><i class="ion-close-circled text-muted"></i></td>
            <td><i class="ion-close-circled text-muted"></i></td>
            <td><i class="ion-ios-checkmark text-success"></i></td>
          </tr>
          <tr>
            <th>SLA for 99.9% Uptime</th>
            <td><i class="ion-close-circled text-muted"></i></td>
            <td><i class="ion-close-circled text-muted"></i></td>
            <td><i class="ion-ios-checkmark text-success"></i></td>
          </tr>
          <tr>
            <th>Premium support</th>
            <td><i class="ion-close-circled text-muted"></i></td>
            <td><i class="ion-close-circled text-muted"></i></td>
            <td><i class="ion-ios-checkmark text-success"></i></td>
          </tr>
          <tr>
            <th>Onboarding support</th>
            <td><i class="ion-close-circled text-muted"></i></td>
            <td><i class="ion-close-circled text-muted"></i></td>
            <td><i class="ion-ios-checkmark text-success"></i></td>
          </tr>
          <tr>
            <th>Dedicated Customer Success Engineer</th>
            <td><i class="ion-close-circled text-muted"></i></td>
            <td><i class="ion-close-circled text-muted"></i></td>
            <td><i class="ion-ios-checkmark text-success"></i></td>
          </tr>
          <tr>
            <th>24x7 Escalation Phone Number</th>
            <td><i class="ion-close-circled text-muted"></i></td>
            <td><i class="ion-close-circled text-muted"></i></td>
            <td><i class="ion-ios-checkmark text-success"></i></td>
          </tr>
          <tr>
            <th>Custom contracts & invoicing</th>
            <td><i class="ion-close-circled text-muted"></i></td>
            <td><i class="ion-close-circled text-muted"></i></td>
            <td><i class="ion-ios-checkmark text-success"></i></td>
          </tr>
          <tr>
            <th>Client Certificates</th>
            <td><i class="ion-close-circled text-muted"></i></td>
            <td><i class="ion-close-circled text-muted"></i></td>
            <td><i class="ion-ios-checkmark text-success"></i></td>
          </tr>
          <tr>
            <th>Security & compliance review</th>
            <td><i class="ion-close-circled text-muted"></i></td>
            <td><i class="ion-close-circled text-muted"></i></td>
            <td><i class="ion-ios-checkmark text-success"></i></td>
          </tr>
        </tbody>
      </table>
        <div class="text-muted">* All plans are subject to our fair use policy. Check the FAQ below for more details.</div>
      </div>


      <!-- FAQ -->

      <div class="pricing__faq d-flex flex-column justify-content-center text-center mx-auto">
        <h2 class="mb-5" id="faq">FAQ</h2>

        {{ range .Site.Data.pricing.faq.questions }}
          <button class="pricing__accordion">{{ .q | markdownify }}</button>
          <div class="pricing__accordion--panel">
            {{ .a | markdownify }}
          </div>
        {{end}}
      </div>

    </div>

    <div class="pricing__trial">
      {{ partial "start-for-free-row" . }}
    </div>
  </div>
</div>
<script>
  /* eslint-env jquery */
  const acc = document.getElementsByClassName('pricing__accordion')
  let i

  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener('click', function () {
      /* Toggle between adding and removing the "active" class,
        to highlight the button that controls the panel */
      this.classList.toggle('active')

      /* Toggle between hiding and showing the active panel */
      const panel = this.nextElementSibling
      panel.classList.toggle('active')
    })
  }

  const toggle = document.getElementById('toggle')
  const monthly = document.getElementById('toggle-monthly')
  const annual = document.getElementById('toggle-annual')

  // Default to yearly
  let current = 'YEAR'
  toggleAnnual()

  toggle.addEventListener('click', () => {
    if (current === 'YEAR') {
      toggleMonthly()
    } else {
      toggleAnnual()
    }
  })

  function toggleAnnual () {
    current = 'YEAR'
    toggle.checked = true
    annual.classList.add('pricing__toggle--text--selected')
    monthly.classList.remove('pricing__toggle--text--selected')

    document.getElementById('prepaid-api-monthly').style.display = 'none'
    document.getElementById('prepaid-browser-monthly').style.display = 'none'

    document.getElementById('prepaid-api-annual').style.display = 'block'
    document.getElementById('prepaid-browser-annual').style.display = 'block'
  }

  function toggleMonthly () {
    current = 'MONTH'
    toggle.checked = false
    annual.classList.remove('pricing__toggle--text--selected')
    monthly.classList.add('pricing__toggle--text--selected')

    document.getElementById('prepaid-api-monthly').style.display = 'block'
    document.getElementById('prepaid-browser-monthly').style.display = 'block'

    document.getElementById('prepaid-api-annual').style.display = 'none'
    document.getElementById('prepaid-browser-annual').style.display = 'none'
  }

  function checkForm () {
    if (document.getElementById('contact-sales-form').checkValidity()) {
      setTimeout(() => {
        submissionNotice()
      }, 500)
    }
    // prevents page reload
    return false
  }

  function submissionNotice () {
    const modal = document.querySelector('.modal-body')
    modal.innerHTML = ''
    const message = document.createElement('p')
    message.classList.add('submission-notice')
    message.innerHTML = 'Thank you for contacting us. We will be in touch shortly.'
    modal.appendChild(message)

    const closeButton = document.querySelector('.modal-header .close')
    closeButton.addEventListener('click', () => {
      // wait for modal to close
      setTimeout(() => {
        // reset form
        modal.innerHTML = `
        <form id="contact-sales-form" action="#" onsubmit="checkForm();return false">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="John Doe">
          </div>
          <div class="form-group">
            <label for="email">Email <span class="text-danger">*</span></label>
            <input type="email" class="form-control" id="email" placeholder="john.doe@example.com" required>
          </div>
          <div class="form-group">
            <label for="website">Company website</label>
            <input type="url" class="form-control" id="website" placeholder="https://example.com">
          </div>
          <div class="form-group">
            <label for="company_size">Company size</label>
            <select class="form-control" id="company_size">
              <option>1-100</option>
              <option>101-1000</option>
              <option>1001-5000</option>
              <option>5000+</option>
            </select>
          </div>
          <div class="form-group">
            <label for="message">Project Details or Questions</label>
            <textarea class="form-control" id="message" rows="7" placeholder="Tell us about your project, your team and your company. What are you planning to monitor?"></textarea>
          </div>
          <div class="submit-button">
            <input class="btn btn-primary" form="contact-sales-form" type="submit" value= "Send message"/>
          </div>
        </form>
      `
      }, 500)
    })
  }
</script>
{{end}}
