.about {
	&__hero {
		border-bottom: 1px solid $gray-light;
	  .display-3 {
	    line-height: 70px;
	    color: $black-dark;
	  }
	  &__lead {
	    margin-bottom: 50px;
	    font-size: 18px;
	    line-height: 1.6;
	  }
	}
	&__about {
	  padding: 60px 0;
	  background: $ash;

	  .col-lg-8 {
	    max-width: 580px;
	  }

	  h2 {
	    color: $black;
	  }

	  br {
	    margin: 20px 0;
	    content: "";
	    display: block;
	  }

	  &__description {
	    font-size: 16px;
	    line-height: 29px;
	  }
	}
	&__team {
	  padding: 55px 0;
	  border-top: 1px solid $gray-light;
	  border-bottom: 1px solid $gray-light;

	  h2 {
	    text-align: center;
	    color: $black;
	    margin-bottom: 55px;
	  }

	  .col-sm-4 {
	    text-align: center;

	    h5 {
	      line-height: 30px;
	      color: $black;
	      margin: 24px 0 8px;
	    }
	    p {
	      color: $gray-darkish;
	      margin-bottom: 8px;
	    }

	    a {
	      text-decoration: underline;
	      margin: 0 5px;
	    }
	  }
	}
	&__investors {
	  padding: 85px;

	  &__companies {
	    h2 {
	      text-align: center;
	      color: black;
	      margin-bottom: 45px;
	    }
	    .card {
	      height: 100%;
	      padding: 60px 16px 33px;

	      .logo {
	        margin: auto;
	      }
	      .description {
	        margin: 30px 0 24px;
	        padding-top: 20px;
	        border-top: 1px solid $gray-light;
	      }
	      .row {
	        align-items: center;

	        p {
	          margin-bottom: 0;
	        }
	      }
	      h5 {
	        font-size: 18px;
	        line-height: 20px;
	        margin-bottom: 8px;
	        color: $black-darkish;
	      }
	      &:hover {
	        cursor: pointer;
	        background: $gray-lightest;
	      }
	    }
	  }
	  &__individuals {
	  	h4 {
	  	  margin: 65px 0 40px;
	  	  color: $black;
	  	  text-align: center;
	  	}
	  	.row {
	  	  max-width: 950px;
	  	  margin: auto;
	  	}
	  	.col-sm-4 {
	  	  margin-bottom: 32px;
	  	}
	  	.card {
	  	  padding: 25px 30px;
	  	  text-align: center;
	  	  height: 100%;
	  	  max-width: 264px;
	  	  margin: auto;

	  	  h5 {
	  	    font-size: 18px;
	  	    line-height: 20px;
	  	    margin-bottom: 8px;
	  	    color: $black-darkish;
	  	  }
	  	  p {
	  	    margin-bottom: 0;
	  	  }
	  	}
	  }
	}
	&__contact {
	  padding: 50px 0 100px;

	  h2 {
	    font-size: 52px;
	    line-height: 48px;
	    margin-bottom: 80px;
	    color: $black;
	    text-align: center;
	  }

	  .row {
	    align-items: center;
	    h5 {
	      color: $black;
	      margin-bottom: 2px;
	    }

	    p {
	      max-width: 200px;
	      margin-bottom: 0;
	    }
	  }
	}
	&__joinus {
		padding: 70px 0;
		background: $gray-lighter;

		h2 {
		  line-height: 48px;
		  color: $black-darkish;
		  margin-bottom: 12px;
		}

		p {
		  line-height: 29px;
		  color: $gray-dark;
		  margin-bottom: 30px;
		}

		.cta-link {
	    margin-top: 18px;
	    padding: 10px 21px;
	    background: $blue;
	    border-radius: 3px;
	    font-size: 14px;
	    line-height: 20px;
	    color: $white;
	    &:hover {
	      background: rgba(69, 200, 241, .8);
	    }
	    &:after {
	      display: none;
	    }
	  }

	  img {
	    margin: auto;
	  }
	}
}