.article {
  margin-bottom: 4 * $spacer;
  a {
    h1, h2, h3, h4, h5 {
      color: $body-color;
    }
  }

  .article-header {
    .article-title {
      font-size: $font-size-h3;
      margin-bottom: $spacer;
    }
    .article-sub {
      color: $text-muted;
      margin-bottom: 1.5 * $spacer;
    }
  }
  .article-body {

  }
}
