@import 'variables.scss';
.blog {
  article {
    margin-bottom: 4 * $spacer;
  }

  h2, h3 {
    border-bottom: none;
  }

  h2 {
    font-weight: $font-weight-bold;
  }

  small {
    font-size: 80% !important;
    font-weight: $font-weight-base;
    color: $gray;
  }

  .blog-recent-post-list {
    position: absolute;
    width: 230px;
    z-index: 9999;
    right: 12px;
    padding: 1rem;
    margin-top: 2 * $spacer;
    p {
      font-size: $font-size-sm;
      color: $gray;
    }

    ul {
      padding: 0;
      list-style: none;
      li {
        margin-bottom: .5rem;
      }
    }
  }

  .blog-content {
  }

  .blog-header {
    font-size: $font-size-h1;
    color: $gray-dark;
    font-weight: $font-weight-bold;
    line-height: 1.3;
    margin-bottom: $spacer-y;
    @media (max-width: 321px) {
      font-size: 35px;
    }

    &.blog-header-list {
      font-size: $font-size-h3;
    }
  }
  a.blog-header {
    display: block;
    margin-bottom: $spacer-y;
    &:hover {
      color: $brand-primary !important;
    }
  }
  .blog-meta-data {
    margin-bottom: 1.5 * $spacer;
    letter-spacing: .01em;
    img.blog-meta-data-avatar {
      width: 36px;
      border-radius: 30px;
      vertical-align: top;
      margin-right: $spacer;
    }
    .blog-meta-data-author-container {
      display: inline-block;
      .blog-meta-data-author-name {
        font-size: $font-size-sm;
        color: $gray-dark;
      }
      .blog-meta-data-published-date {
        font-size: $font-size-sm;
        color: $gray;
      }
    }
    .blog-meta-data-tags {
      display: inline-block;
      vertical-align: baseline;
    }
  }

  .blog-body {
    font-size: 16px !important;
    line-height: 2;

    h1, h2, h3, h4, h5, h6 {
      font-family: 'fakt-soft', sans-serif;
    }

    strong {
      font-weight: 500 !important;
      color: $gray-dark;
    }

    img {
      padding: 1rem 0;
    }

    &.blog-body-preview {
      p {
        color: $body-text;
      }
      img {
        display: none;
      }
      small {
        display: none;
      }
    }
  }
}
