.career {
	.btn-blue {
	  background: $blue;
	  color: white;
	  padding: 14px 49px;
	  font-size: 18px;
	  line-height: 20px;

	  &:hover {
	    opacity: 0.8;
	  }
	}

  .lead-text {
    max-width: 655px;
    margin: auto;
    margin-bottom: 48px;
    font-size: 18px;
    line-height: 28.8px;
  }
  .section-header{
    color: $black;
  }
  .section-light-gray {
    background: $gray-lightest;
    border: 1px solid $gray-lighter;
  }

  .team-pictures {
    display: flex;
    .spacing {
      margin-right: 10px;
    }
  }

	.center {
		text-align: center;
	}

	&__about {
	  padding: 61px 0 131px;
		.narrow-container {
		  max-width: 900px;
		}
	  &__logo{
	  	width: 230px;
	  	height: 230px;
	  	padding: 53.8px 38.33px 51.6px 51.6px;
	  	border-radius: 300px;
	  	box-shadow: 0 5px 25px rgba(0, 0, 0, .15);
	  }
	  &__text {
	    margin-left: 80px;
	    width: calc(100% - 310px);

	    .lead-text {
	      margin-bottom: 0;
	      margin-bottom: 20px;
	    }
	  }
		&__team {
			max-width: 100%;
			height: auto;
			margin: 8em auto 2em;
		}
	}
	&__features{
	  padding: 81px 0 79px;
	  .row {
	    justify-content: space-between;
	    padding: 0 1rem;
	  }
	  .feature-item {
	    text-align: center;

	    h2 {
	      font-size: 72px;
	      line-height: 87px;
	      margin-bottom: 0;
	      color: $black;
	    }
	    p {
	      font-size: 14px;
	      line-height: 20px;
	      color: $black;
	      opacity: 0.6;
	      margin: 0;
	      text-transform: uppercase;
	    }
	  }
	}
	&__values {
	  text-align: center;
	  padding: 80px 0 120px;

	  .section-header {
	    margin-bottom: 0;
	  }
	  .lead-text{
	    margin: 0 auto;
	    margin-bottom: 2rem;
	  }
	  .row {
	    flex-wrap: wrap;
	    justify-content: space-between;
	    padding: 0 1rem;

	    .value-card {
	      width: 31%;
	      border: 1px solid $gray-light;
	      padding: 35px 16px 24px;
	      margin-bottom: 40px;
	      border-radius: 6px;

	      img {
	        margin-bottom: 40px;
	      }

	      h5 {
	        font-size: 18px;
	        line-height: 20px;
	        color: $black-darkish;
	        max-width: 190px;
	        margin: auto;
	        margin-bottom: 8px;
	      }
	      p {
	        color: $gray-darkish;
	      }
	    }
	  }
	  .btn-blue {
	    margin: 20px 0 0;
	  }
	}
	&__trusted {
		.trusted-by-section {
			background: none;
		}
	}
	&__location {
		padding: 80px 0 120px;

	  &__map {
	    margin: 30px auto 0;
	    width: 720px;

	    img {
	      width: 100%;
	    }
	  }
	}
	&__benefits {
	  padding: 80px 0 25px;

	  .section-header {
	    margin-bottom: 50px;
	  }

		.row {
		  padding: 0 1rem;
		  flex-wrap: wrap;
		  justify-content: center;

		  .benefit-card {
		  	position: relative;
		    width: 220px;
		    height: 180px;
		    text-align: center;
		    padding: 29px 10px;
		    border: 1px solid $gray-light;
		    background: $white;
		    margin: 0 20px 63px;

		    .content-wrap {
		      position: absolute;
		      width: calc(100% - 20px);
		      top: 50%;
		      transform: translateY(-50%);
		      margin: auto;
		    }

		    .image-wrap {
		      width: 48px;
		      height: 48px;
		      margin: auto;
		      margin-bottom: 16px;
		      img {
		        width: 100%;
		      }
		    }
		    .text-wrap {
		      h5 {
		        font-size: 18px;
		        line-height: 29px;
		        margin-bottom: 0;
		      }
		    }
		  }
		}
	}
	&__howhire {
	  margin: 62px 0 100px;

	  &__card {
	    width: 100%;
	    max-width: 730px;
	    margin: auto;
	    padding: 40px 80px;
	    border: 1px solid $gray-light;

	    .section-header {
	      margin-bottom: 16px;
	    }

	    .lead-text {
	      margin-bottom: 34px;
	    }

	    .btn-blue {
	      padding: 10px 21px;

	      img {
	        margin-right: 10px;
	        margin-top: -2px;
	      }
	    }
	  }
	}
	&__calculator {
	  padding: 80px 0 120px;
	  .section-header {
	    max-width: 655px;
	    margin: auto;
	    margin-bottom: 1rem;
	  }
	  .lead-text {
	    max-width: 655px;
	    margin: 0 auto 61px;

	    br {
	      display: block;
		    padding: 10px 0;
		    content: "";
	    }
	  }
	  .job-card {
	    width: 720px;
	    margin: 0 auto 30px;
	    padding: 18px 24px;
	    background: $gray-lightest;
    	border: 1px solid $gray-lighter;
    	border-radius: 3px;
	  }

		.btn {
			display: inline-block;
			margin: 0 auto;
		}

	  #whr_embed_hook {
      max-width: 760px;
      margin: auto;
    }
	  .flex-wrap {
	  	display: flex;
	  	align-items: center;
	    justify-content: space-between;

	    .title-wrap {
	      width: calc(100% - 40px);
	      margin-right: 20px;

	      h5 {
	        font-size: 20px;
	        line-height: 30px;
	        margin-bottom: 10px;
	      }
	      p {
	        margin: 0;

	        span {
	          margin-right: 25px;
	        }
	      }
	    }
	  }
	}
	@include media-breakpoint-down(md) {
	  .section-header {
	    max-width: 655px;
	    margin-left: auto;
	    margin-right: auto;
	  }
    &__hero {
      .display-3 {
        font-size: 48px;
        line-height: 58px;
      }
    }
    &__about {
      padding: 71px 0 59px;
      .row {
        max-width: 700px;
        margin: auto;
      }
      &__logo {
        margin-top: 10px;
        width: 150px;
        height: 150px;
        padding: 34.62px 25px 33.65px 33.65px;

        img {
          width: 91px;
          height: 81px;
        }
      }
      &__text {
        width: calc(100% - 200px);
        margin-left: 50px;
      }
    }
    &__features{
      padding: 20px 0 19px;
      .row {
        flex-wrap: wrap;
      }
      .feature-item {
        width: 45%;
        margin: 60px 0;
      }
    }
    &__values {
      padding: 82px 0 56px;
      max-width: 610px;
      margin: auto;
      .row {
	      .value-card {
	        width: 264px;
	        margin-bottom: 30px;
	      }
	    }
    }
    &__location {
      padding: 60px 0 120px;
      &__map {
        width: 100%;
      }
    }
    &__benefits {
      padding: 66px 0 25px;
      .section-header {
        margin-bottom: 40px;
      }
      .row {
      	max-width: 640px;
      	margin: auto;
        .benefit-card {
          margin-bottom: 40px;
        }
        .tablet-hidden {
          display: none;
          width: 0;
          height: 0;
          padding: 0;
        }
      }
    }
    &__calculator {
      padding: 60px 0 68px;
    }
	}
	@include media-breakpoint-down(sm) {
		.lead-text {
		  font-size: 16px;
		  line-height: 1.6;
    }
		&__hero {
      .display-3 {
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 8px;
      }
      .lead-text {
        margin-bottom: 20px;
      }
    }
    &__about {
      padding: 10px 0 51px;

      .row {
        margin: 0;
      }

      &__logo {
        width: 150px;
        height: 150px;
        margin: auto;

        img {
          width: 91px;
          height: 81px;
        }
      }
      &__text {
        width: 100%;
        margin-left: 0;
        margin-top: 20px;
      }
    }
    &__features{
      padding: 0;
      .feature-item {
        margin: 51px 0;
      	h2 {
      	  font-size: 42px;
      	  line-height: 51px;
      	}
      }
    }
    &__values {
      padding: 48px 0 89px;
      .row {
	      .value-card {
	        margin: auto;
	        margin-bottom: 16px;
	      }
	    }
    }
    &__location {
      padding: 30px 0 51px;
    }
    &__benefits {
      padding: 66px 0 35px;

    	.lead-text {
    	  margin-bottom: 10px;
    	}
      .row {
      	max-width: 400px;
      	margin: auto;
        .benefit-card {
          margin-bottom: 40px;
        }
      }
    }
    &__howhire {
      &__card {
        padding: 30px;
      }
    }
    &__calculator {
      padding: 58px 0 54px;
    }
	}
	@include media-breakpoint-down(xs) {
		&__values {
      .lead-text {
        width: 300px;
        margin: 0 auto 42px;
      }
    }
	}
}
