.case-studies {
	.hero {
		display: flex;
		margin-bottom: 37px;

		&__logo {
			margin: 2rem 0;
		}
		&__title {
			font-size: 52px;
			line-height: 63px;
			margin-bottom: 2rem;
		  color: $black-dark;
		}
		&__description {
		  font-size: 18px;
		  line-height: 32px;
		}

		.services__list {
			text-align: right;

			&__title {
			  text-transform: uppercase;
			  font-size: 14px;
			  line-height: 20px;
			  font-weight: 600;
			  margin-bottom: 5px;
			}
			&__item {
			  display: block;
			  line-height: 30px;
			  font-weight: 500;
			}
		}
	}
	.full-width-image {
	  margin-bottom: -240px;

	  img {
	   width: 100vw;
	  }
	}
	.problem {
	  position: relative;
	  background: rgba(255, 101, 157, 0.1);
	  padding-top: 130px;

	  &__label {
	  	font-size: 14px;
	  	line-height: 20px;
	  	text-transform: uppercase;
	  	font-weight: 600;
	  	color: $red;
	  }
	  &__title {
	    line-height: 1.5;
	    color: #000000;
	    margin: 10px 0;
	  }
	  &__description {
	    max-width: 594px;
	    width: 100%;
	    color: $black;
	    margin-bottom: 45px;
	  }
	  &__logos {
	    margin-top: 150px;
	    display: flex;
	    align-items: center;
	    justify-content: space-between;
	  }
	  &__car_image {
	    position: absolute;
	    bottom: -180px;
	    width: 35%;

	    img {
	      width: 100%;
	    }
	  }
	}
	.quote {
	  margin: 225px 0 48px;
	  padding: 75px 0;

	  &__author {
	    margin: 12px 0 0;
	    font-size: 18px;
	    font-weight: 600;
	    line-height: 39px;
	    color: $black;
	  }
	  &__author_role {
	    margin: 0;
	    font-size: 14px;
	    line-height: 17px;
	    color: $gray;
	  }
	  &__icon {
	    position: absolute;
	    left: -30px;
	    top: -30px;
	  }

	  &__description {
	    font-size: 24px;
	    line-height: 39px;
	    margin: 0;
	  }
	}
	.solution {
	  padding: 120px 0;
	  position: relative;
	  background: $gray-lighter;

	  br {
	    margin: 20px 0;
	    content: "";
	    display: block;
	  }

	  &__image {
	    position: absolute;
	    width: 40%;
	    right: 0;
	    top: 50%;
	    transform: translateY(-50%);

	    img {
	      width: 100%;
	    }
	  }
	  &__image_mobile {
	    display: none;
	  }

	  &__label {
	    font-size: 14px;
	    font-weight: 600;
	    line-height: 20px;
	    text-transform: uppercase;
	    color: $green;
	  }

	  &__title {
	  	margin: 10px 0 13px;
	  	line-height: 1.5;
	  	color: $black;
	  }

	  &__description {
	    color: $black;
	  }
	}
	.property {
	  background: #1f1f1f;
	  padding: 75px 0;
	  text-align: center;

	  .col-sm-4{
	  	postion: relative;

	  	img {
	  	  position: absolute;
	  	  right: -10px;
	  	  top: 50%;
	  	  transform: translateY(-50%);
	  	}
	  }

	  &__number {
	    font-weight: 600;
	    font-size: 72px;
	    line-height: 87px;
	    color: $white;
	    margin-bottom: 0;
	  }
	  &__label {
	    text-transform: uppercase;
	    margin: 0;
	    color: $white;
	  }
	}
	.result {
	  padding: 100px 0 0;

	  &__label {
	    color: $blue;
	    text-transform: uppercase;
	    font-size: 14px;
	    line-height: 20px;
	    font-weight: 600;
	    margin: 0;
	  }
	  &__title {
	    color: $black;
	    margin: 10px 0 16px; 
	  }
	}
	@include media-breakpoint-down(md) {
		.hero {
		  .row {
		    flex-direction: column-reverse;
		  }

		  &__logo {
		    text-align: center;
		  }
		  &__title {
		    font-size: 42px;
		    line-height: 51px;
		  }
		  .services__list {
		    display: flex;
		    align-items: center;
		    width: fit-content;
		    margin: 0 auto 30px;

		    &__title {
		      margin-bottom: 0;
		    }

		    &__item {
		      display: inline-block;
		      margin-left: 10px;
		    }
		  }
		}
		.problem {
		  padding-top: 200px;
		  padding-bottom: 200px;

		  &__description {
		    margin: auto;
		  }
		  &__logos {
		    margin: 30px auto 50px;
		    max-width: 500px;
		    width: 100%;
		  }
		  &__car_image {
		    width: 50%;
		  }
		}
		.quote {
		  text-align: center;
		  margin: 150px 0 150px;

		  &__description {
		    margin: 30px auto 0;
		    max-width: 520px;
		    text-align: left;
		    font-size: 18px;
		    line-height: 31px;
		  }

		  &__icon {
		    left: calc(50vw - 320px);
		  }
		}
		.solution {
		  padding-top: 200px;

			&__image {
			  display: none;
			}

			&__image_mobile {
			  position: absolute;
			  display: block;
			  text-align: center;
			  top: -200px;
			  left: 50%;
			  transform: translateX(-50%);
			  max-width: 390px;
			  width: 100%;

			  img {
			    width: 100%;
			  }
			}

			.container {
			  max-width: 650px;
			}
		}
		.property {
			&__number {
			  font-size: 32px;
		    line-height: 39px;
		  }
		  &__label {
		    text-transform: uppercase;
		    margin: 0 10px;
		    color: $white;
		  }
		}
		.result {
		  .container {
		    max-width: 700px;
		    margin: auto;
		  }
		}
	}
	@include media-breakpoint-down(xs) {
		.hero {
		  &__logo {
		    text-align: center;
		    margin-bottom: 24px;
		  }
		  &__title {
		    font-size: 24px;
		    line-height: 29px;
		    margin-bottom: 10px;
		  }
		  .services__list {
		  	margin: 0 auto 20px;

		    &__title {
		      display: none;
		    }

		    &__item {
		      display: inline-block;
		      font-size: 12px;
		      line-height: 15px;
		      margin-left: 5px;
		      margin-right: 5px;
		    }
		  }
		}
		.full-width-image {
		  margin-bottom: -100px;
		}
		.problem {
		  padding-top: 100px;
		  padding-bottom: 100px;

		  &__title {
		    font-size: 20px;
		    line-height: 30px;
		  }
		  &__description {
		    font-size: 14px;
		    line-height: 19px;
		  }
		  &__logos {
		    width: 90%;
		    img {
		      width: 40px;
		    }
		  }
		  &__car_image {
		    width: 60%;
		    bottom: -100px;
		  }
		}
		.quote {
		  text-align: center;
		  margin: 50px 0;

		  &__description {
		    margin: 30px auto 0;
		    max-width: 520px;
		    text-align: left;
		    font-size: 14px;
		    line-height: 24px;
		  }

		  img {
		    width: 88px;
		    height: 88px;
		  }

		  &__icon {
		    left: 0;
		  }
		}
		.solution {
		  padding-top: 120px;
		  padding-bottom: 50px;

			&__image_mobile {
			  top: -130px;
			  width: 262px;

			  img {
			    width: 100%;
			  }
			}

			&__title {
			  font-size: 20px;
			  line-height: 30px;
			  margin: 10px 0;
			}

			&__description {
			  font-size: 14px;
			  line-height: 29px;
			}

			.container {
			  max-width: 650px;
			}
		}
		.property {
		  padding-top: 20px;

			&__number {
			  font-size: 32px;
		    line-height: 39px;
		  }
		  &__label {
		    text-transform: uppercase;
		    margin: 0 10px;
		    color: $white;
		  }
		  .col-sm-4{
		  	postion: relative;
		  	border-bottom: 1px solid rgba(255, 255, 255, .2);
		  	padding: 50px 0;
		  	width: calc(100% - 140px);
		  	margin: auto;

		  	img {
		  	  display: none;
		  	}
		  }
		}
		.result {
		  padding: 50px 0 0;

		  &__title {
		    font-size: 20px;
		    line-height: 30px;
		    margin: 10px 0;
		  }

		  &__description {
		    font-size: 14px;
		    line-height: 29px;
		  }
		}
	}
}
