// reset
body {
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

p {
  color: $body-text;
  line-height: $line-height-pub-site;
}

// typography

.handwritten {
  font-family: 'Kalam', cursive;
  color: $pink;
}

.font-height {
  height: $font-size-base;
}

.info-link {
  text-decoration: none;
  border-bottom: 1px dashed;
  padding-bottom: 2px;
  color: inherit;
  &:hover {
    text-decoration: none;
  }
}

.cta-link {
  color: $brand-primary;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  &::after {
    transform: rotate(45deg) translate3d(0,0,0);
    transition: transform .2s ease-in-out;
    border-top-width: 2px;
    border-top-style: solid;
    border-right-width: 2px;
    border-right-style: solid;
    content: "";
    display: inline-block;
    margin-left: .3em;
    position: relative;
    pointer-events: none;
    width: 6px;
    height: 6px;
    top: -1px;
  }
}

.green-dot {
  height: 8px;
  width: 8px;
  background-color: $green;
  border-radius: 50%;
  display: inline-block;
  margin-left: .4rem;
  vertical-align: middle;
  position: relative;
  margin-top: -2px
}

// Forms

.form-header {
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 1rem;
}


.custom-select {
  height: auto !important;
  padding: 0.75rem 1.75rem 0.75rem 1.5rem;
  width: 100%;
}

.form-control {
  padding: .75rem 1rem;
}


// Image & Video

.screen-video {
  background-color: $white;
  border-radius: 4px;
  border: 1px solid $gray-light;
}

.screen-image {
  background-color: $white;
  border-radius: 5px 5px 0 0;
  border: 1px solid $gray-light;
  @include drop-shadow();
  box-sizing: content-box;
  opacity: 1;
}

.image-w970 {
  width: 970px;
}

.img-w360 {
  width: 360px;
}

.img-w435 {
  width: 435px;
}

.img-w720 {
  width: 720px;
}

img.avatar {
  flex-shrink: 0;
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
}

// Styles

.big-drop-shadow {
  @include screen-shadow();
}


// alignment

.text-side {
  margin-top: 50px;

  .lead-text {
    margin-bottom: 20px;
  }

  @include media-breakpoint-down(md) {
    margin-top: 0;
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: 30px;
  }
  @include media-breakpoint-down(xs) {
    .lead-text {
      font-size: 14px;
      line-height: 22.4px;
    }
  }
}
