@import 'variables.scss';

.developer_portal {
  img,
  video {
    max-width: 100%;
    // height: auto;
  }

  .display-1 {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.04em;

    @media (min-width: 768px) {
      font-size: 52px;
    }
  }

  .display-2 {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;

    @media (min-width: 768px) {
      font-size: 32px;
    }
  }

  .display-4 {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5em;

    @media (min-width: 768px) {
      font-size: 20px;
    }
  }

  .tagline {
    color: $pink;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;

    @media (min-width: 768px) {
      font-size: 16px;
    }
  }

  .section_title {
    margin-bottom: 2rem;
  }

  .card {
    padding: 24px;
    background-color: $white;
    border: 1px solid $gray-light;
    border-radius: 4px;
    transition: background-color 150ms;
  }

  .card--simple {
    padding: 24px;

    :hover {
      background-color: $gray-lightest;
    }
  }

  .btn {
    background-color: $blue;
    color: $white;
  }

  .link {
    color: $blue
  }

  .section {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .search {
    position: relative;
    margin-bottom: 3rem;

    @media (min-width: 992px) {
      margin-bottom: 5rem;
    }
  }

  .search-icon {
    position: absolute;
    top: 50% !important;
    left: 1em !important;
    transform: translateY(-50%);
    pointer-events: none;
  }

  .search-input {
    width: 36rem;
    max-width: 80vw;
    background-color: $white !important;
  }

  .card {
    padding: 20px;
    transition: background-color 150ms;

    &:hover {
      text-decoration: none;
      background-color: $gray-light;
    }
  }

  .card__img {
    flex-shrink: 0;
  }

  .card__content {
    height: 100%;
  }

  .card__title {
    font-size: 20px;
  }

  .card__description {
    font-size: 14px;
  }
}

.developer_portal__header {
  padding-top: 1.5rem;
  background-color: $gray-lightest;
  border-bottom: 1px solid $gray-light;

  @media (min-width: 992px) {
    margin-bottom: 8rem;
  }
}

.developer_portal__headerCol {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.developer_portal__headerContent {
  @media (min-width: 460px) {
    max-width: 500px;
  }

  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  p {
    margin-bottom: 2rem;
    font-size: 18px;
  }
}

.developer_portal__headerCards {
  position: relative;

  @media (min-width: 992px) {
    padding-bottom: 4rem;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    gap: 1rem;

    @media (min-width: 992px) {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 2rem;
    }
  }

  .card {
    align-items: center;
    flex-direction: row;
    gap: 1.5rem;
    --rotation: 2deg;

    @media (min-width: 992px) {
      &:first-child {
        transform-origin: center right;
        transform: rotate(calc(var(--rotation) * -1));
      }

      &:last-child {
        transform-origin: center left;
        transform: rotate(var(--rotation));
      }
    }
  }

  .card__title {
    margin-bottom: 0;
  }

  .card__description {
    margin-bottom: 0;
  }
}


.developer_portal__essentials {
  padding-top: 3rem;
  padding-bottom: 3rem;

  @media (min-width: 992px) {
    padding-top: 6.25rem;
    padding-bottom: 5rem;
  }
}

.developer_portal__essentialsCards {
  display: grid;
  column-gap: 2.25rem;
  row-gap: 2rem;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }

  .card__img {
    margin-bottom: 1rem;
  }
}

.developer_portal__posts {
  padding-top: 3rem;
  padding-bottom: 3rem;

  @media (min-width: 992px) {
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
  }

  .posts {
    display: grid;
    column-gap: 2rem;
    row-gap: 1.5rem;

    @media (max-width: 1023px) {
      img {
        height: auto;
        margin-bottom: 1rem;
      }
    }

    @media (min-width: 1024px) {
      grid-template-columns: 6fr 7fr;

      .card:first-child {
        grid-row-end: span 3;

        img {
          height: auto;
          margin-bottom: 1rem;
        }

        .card__meta {
          justify-content: space-between;
        }
      }

      .card:not(:first-child) {
        flex-direction: row;
        gap: 1rem;

        .card__content {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }

        img {
          width: 152px;
          height: 152px;
          object-fit: cover;
          object-position: center;
        }
      }
    }
  }

  .card__meta {
    display: flex;
    gap: .5rem;
    font-size: 14px;
    font-weight: 600;
    color: $gray-darkish;
  }

  .card__author {
    text-transform: uppercase;
  }
}
