.footer {
  background-color: $gray-lightest;
  border-top: 1px solid $gray-light;
  color: $white;
  .footer-top {
    padding: 3.75 * $spacer 0 0;

    h6 {
      color: $black;
      margin-bottom: 1.25 * $spacer;

      &:before {
        display: none;
      }
    }
    ul {
      list-style-type: none;
      padding-left: 0;
      margin-bottom: 0;

      li {
        margin-bottom: 10px;
      }
    }
    a {
      color: $gray-darkish;
    }
    input {
      background-color: $white;
      width: 70%;
    }
  }

  .footer-divider {
    margin: 3.125 * $spacer 0 2.5 * $spacer;
    height: 1px;
    width: 100%;
    border-top: 1px solid $gray-light;
  }

  .footer-bottom {
    color: $gray-darkish;
    padding-bottom: 3.75 * $spacer;

    .flex-wrap {
      display: flex;
      justify-content: space-between;
      align-items: end;
    }
    .logo {
      margin-bottom: 22px;
    }

    .soc2 {
      img {
        display: block;
        width: 4em;
        height: 4em;
        margin: 0 0 1em auto;
      }
    }

    .social img {
      height: 1.25em;
      width: auto;
    }
    .social + .social {
      margin-left: .75em;
    }
  }

  #menu_4_header {
    margin-top: 30px;
  }
  #menu_6_header {
    margin-top: 30px;
  }

  .desktop-show {
    display: block;
    .hiring-badge{
      font-size: 12px;
      font-weight: 600;
      color: white;
      background-color: $pink;
      border-radius: 3px;
    }
  }

  .dot {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    display: inline-block;
    margin-left: .4rem;
    vertical-align: middle;
    position: relative;
    margin-top: -2px;

    &--green {
      background-color: $green;
    }
    &--yellow {
      background-color: $yellow;
    }
    &--red {
      background-color: $red;
    }
  }
}

@include media-breakpoint-down(md) {
  .footer {
    .footer-top {
      .mb-4 {
        margin-bottom: 0 !important;
      }

      h6 {
        margin-bottom: $spacer;
        &:before {
          border: none;
          line-height: 0;
          content: '\F123';
          display: inline-block;
          vertical-align: middle;
          font-family: Ionicons;
          margin-right: 8px;
          margin-top: -3px;
          font-size: 10px;
        }
        &:hover {
          cursor: pointer;
        }
      }
      .rotate {
        &:before {
          transform: rotate(180deg);
        }
      }
      .show {
        display: block !important;
        margin-bottom: $spacer;
      }
    }
    .footer-divider {
      margin: 1.75 * $spacer 0 2.5 * $spacer;
    }
    .desktop-show {
      display: none;
    }
    .menu_header {
      margin-top: 0 !important;
    }
  }
}

@include media-breakpoint-down(xs) {
  .footer {
    .footer-bottom {
      .col-12 {
        display: flex;
        flex-direction: column-reverse;

        .float-right {
          width: 100%;
          text-align: center;
          margin: auto;
          margin-bottom: 10px;

          .soc2 {
            img {
              margin: 0 auto 1em;
            }
          }
        }

        .float-left {
          text-align: center;
          margin: auto;
          margin-top: 20px;
          width: 250px;
        }
      }
    }
  }
}
