@import 'variables.scss';
.integrations {
	&__hero {
		.display-3 {
			width: 100%;
			max-width: 630px;
			margin: auto;
			margin-bottom: 20px;
			line-height: 120%;
			letter-spacing: -0.04em;
		}

		&__lead {
			width: 100%;
			max-width: 700px;
			margin: auto;
			margin-bottom: 40px;

			font-size: 18px;
		}
	}
	&__highlights {
		margin: 50px 0 130px;

		&__tabs {
			width: 480px;
			margin: auto;

			.integration-tab {
			  width: 160px;
			  height: auto;
			  text-align: center;
			  padding-bottom: 10px;
			  border-bottom: 2px solid $gray;
			  opacity: 0.3;

			  &:hover {
			    cursor: pointer;
			  }
			}
			.active {
			  opacity: 1;
			  border-color: $blue;
			}
		}
		&__contents {
		  max-width: 900px;
		  width: 100%;
		  margin: 30px auto;

			.integration-tab-content {
			  display: none;
			  align-items: center;
			  justify-content: space-between;
			}
			.active {
			  display: flex;
			}
		  .image-wrap {
		    width: 424px;
		    height: 280px;

		    img {
		      width: 100%;
		      border: 1px solid $gray-light;
		      border-radius: 3px; 
		    }
		  }
		  .text-wrap {
		    width: 419px;

		    .label {
		      color: $pink;
		      font-weight: 600;
		    }
		    .display-4 {
		      margin-top: 5px;
		      font-size: 24px;
		      line-height: 36px;
		    }
		  }
		}
	}
	.d-flex {
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__subnav {
		width: 100%;
		margin: 80px auto 10px;

		.d-flex {
		  max-width: 480px;
		  margin-left: auto;
		  margin-right: auto;
			a {
				font-size: 16px;
				font-weight: 600;
				line-height: 20px;
				color: $gray-darkish;
				padding-bottom: 5px;
				border: 0;
				border-bottom: 1px solid $gray-darkish;
				border-style: dashed;

				&:hover {
					text-decoration: none;
				}
			}
		}
	}
	&__cardlist {
		margin-top: 30px;

		.list-title {
			font-size: 20px;
			line-height: 30px;
			letter-spacing: 0.3px;
			margin-bottom: 10px;
		}

		.hidden {
			opacity: 0;
			z-index: -1;
			height: 0 !important;
			margin: 0 !important;
			padding: 0 !important;
		}

		.card {
			width: 320px;
			padding: 24px;
			margin-bottom: 40px;

			border: 1px solid $gray-light;
			border-radius: 5px;
			box-sizing: border-box;

			&:hover {
				background: $gray-lightest;
				border: 1px solid $blue;
			}

			&__img {
				height: 64px;
			}

			&__title {
				margin-bottom: 8px;

				font-size: 16px;
				line-height: 24px;
			}
			&__description {
				margin-bottom: 22px;
			}
			&__cta {
				width: 100% !important;
				font-size: 16px;
				font-weight: 600;
				color: $gray;
                margin-top: auto;
			}
		}
	}
	.free-trial-section {
		padding: 100px 0;
	}
}

@include media-breakpoint-down(lg) {
	.integrations {
	 	&__subnav {
	 		margin-top: 80px;
	 	}
	 	&__cardlist {
	 		max-width: 680px;
	 		margin: 40px auto;
	 	}
	}
}

@include media-breakpoint-down(md) {
  .integrations {
	 	&__highlights {
			&__contents {
			  .image-wrap {
			    width: 47%;
			    height: auto;
			    img {
			      height: auto;
			    }
			  }
			  .text-wrap {
			    width: 50%;
			    .display-4 {
			      font-size: 20px;
			    }
			  }
			}
		}
	}
}

@media(max-width: 700px) {
	.integrations {
	 	&__subnav {
	 		max-width: 400px;
	 		width: 100%;
	 	}
	 	&__cardlist {
	 		max-width: 500px;
	 		width: 100%;
	 		margin: 40px auto;
	 		.card {
	 			width: 100%;
	 		}
	 	}
	}
}
@include media-breakpoint-down(xs) {
	.integrations {
		&__hero {
			.display-3 {
				max-width: 340px !important;
				font-size: 32px;
				line-height: 39px;
			}
			&__lead {
				margin-bottom: 32px;
				font-size: 16px;
			}
		}
	 	&__subnav {
	 	  margin-top: 50px;

	 		.d-flex {
	 			width: 210px;
		 		margin: 0 auto;
	 		}

	 		a:nth-child(1) {
	 			margin-left: 35px;
	 			margin-bottom: 20px;
	 		}
	 		a:nth-child(2) {
	 			margin-right: 40px;
	 			margin-bottom: 20px;
	 		}
	 	}
	 	&__cardlist {
	 		max-width: 500px;
	 		width: 100%;
	 		margin: 40px auto;
	 		.card {
	 			width: 100%;
	 			margin-bottom: 25px;
	 		}
	 	}
	 	&__highlights {

			&__tabs {
				width: 321px;
				margin: auto;

				.integration-tab {
				  width: 107px;
				}
			}
			&__contents {
			  .image-wrap {
			    display: none;
			  }
			  .text-wrap {
			    width: 100%;
			  }
			}
		}
	}
}
