.navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  padding: 32px 0;
  height: $navbar-height;
  transition: all .5s;
  z-index: 199;
  background: $white;
  border-bottom: 1px solid $gray-lighter;

  .navbar-content {
    display: flex;
    flex-direction: row;
    flex: 1 1 0;
    column-gap: 12px;
    align-items: center;
    max-width: 1440px;
    width: 100%;
    height: $navbar-height;
    &-left {
      height: $navbar-height;
      display: flex;
      flex: 1 1 0;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }

    &-center {
      display: flex;
      flex: 1 1 0;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    &-right {
      display: flex;
      flex: 1 1 0;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;

      @include media-breakpoint-down(md) {
        display: none;
      }
    }
  }

  @include media-breakpoint-down(md) {
    .nav-item-not-mobile {
      display: none !important;
    }
  }

  .nav-link {
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    position: relative;
    color: $gray-darkish;
    font-weight: 500;
    margin-right: 20px;
    white-space: nowrap;

    &-external {
      &::after {
        margin-left: 4px;
        width: 12px;
        height: 12px;
        background-size: 100%;
        background: url(/images/icons/arrow-up-right.svg) no-repeat;
        content: '';
        display: inline-block;
      }
    }

    &:hover {
      color: $gray-dark;
    }

    &.active {
      color: darken($gray-dark, 10%);
    }

    &-bottom {
      &.active {
        background-color: $blue;
        height: 3px;
        width: 100%;
        position: absolute;
        bottom: -1px;
      }
    }
  }

  .btn {
    font-size: 14px;
    font-weight: 600;
    padding: 9px 1rem 10px;
  }
  .signup-button {
    padding: 9px 22px 10px;
    border-radius: 8px;
  }
  &.navbar-fixed-drop-shadow {
    box-shadow: 0 1px 2px 0px rgba(31, 45, 61, 0.15);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
  }
}

.navbar-mobile {
  display: none;
  flex: 0;
  #navbar-hamburger {
    display: flex;
    &:hover {
      cursor: pointer;
    }
  }

  &-side-menu {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 8px;
    @include media-breakpoint-down(md) {
      display: flex;
    }

    &-link {
      margin-bottom: 6px;
      font-size: 14px;
      a.active {
        font-weight: 500;
        border-bottom: 2px solid $blue;
      }
    }
  }

  @include media-breakpoint-down(md) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    background-color: $white;
    z-index: 200;
  }
}
