@import 'variables.scss';
.opensource {
	&__hero {
	  margin-bottom: 58px;
		.display-3 {
			width: 100%;
			margin-bottom: 20px;
			line-height: 120%;
			letter-spacing: -0.04em;
		}

		&__lead {
			width: 100%;
			margin-bottom: 30px;

			font-size: 18px;
		}

	}
	&__initiatives {
		padding: 60px 0 50px;

		.section-header {
		  margin-bottom: 30px;
		}

		.d-flex {
		  flex-wrap: wrap;
		  justify-content: space-between;
		}

		.card {
		  h5 {
		  	display: flex;
		  	align-items: center;

		  	span {
		  	  font-size: 14px;
		  	}

		  	img {
		  	  margin: 0 5px 3px 10px;
		  	}
		  }
		}
	}
	&__mmr {
		padding: 40px 0 58px;
		background: $ash;

		p {
			max-width: 580px;
			width: 100%;
			margin: 0 auto 20px;
			text-align: center;
			color: $black;
		}
	}
	&__posts {
		padding: 100px 0 0;

		.section-header {
		  margin-bottom: 7px;

		  img {
		    vertical-align: unset;
		  }
		}

		.d-flex {
		  flex-wrap: wrap;
		  justify-content: space-between;
		  margin-top: 43px;
		}
	}
	.card {
	  padding: 20px;
	  margin-bottom: 30px;
	  width: calc((100% - 80px)/3);
	  border-radius: 5px;

	  .card-image {
	    position: relative;
	  	width: 100%;
	  	height: 200px;
	  	margin-bottom: 17px;
	  	background-image: url('../opensource/image-background-pattern.png');
	  	background-size: 80px;

	  	img {
	  	  position: absolute;
	  		top: 50%;
	  		left: 50%;
	  		transform: translate(-50%, -50%);
	  	}
	  }

	  h5 {
	  	margin-bottom: 5px;
	  }
	  h6 {
	    margin-bottom: 10px;
	  }
	  p {
	  	font-size: 14px;
	  	color: $gray-darkish;
	  }
	}
	.cta-wraps {
		display: flex;
		align-items: center;

		.cta-link {
		  display: flex;
		  align-items: center;
		  font-size: 14px;

		  img {
		    margin-right: 5px;
		  }

		  &:after {
		    display: none;
		  }
		}
		.cta-link:nth-child(2) {
		  margin-left: 30px;
		}
	}
	@include media-breakpoint-down(lg) {
		.card {
			.cta-wraps {
				flex-wrap: wrap;

				.cta-link {
				  width: 100%;
				}

			  .cta-link:nth-child(2) {
			  	margin-top: 10px;
				  margin-left: 0px;
				}
			}
		}
	}
	@include media-breakpoint-down(md) {
		&__hero {
	  	margin-bottom: 50px;
	  }
	  &__initiatives {
	  	padding-top: 0;
	  }
	  &__posts {
	  	padding-top: 50px;
	  }
	  .card {
			.cta-wraps {
				flex-wrap: no-wrap;

				.cta-link {
				  width: auto;
				}

			  .cta-link:nth-child(2) {
				  margin-left: 30px;
				  margin-top: 0;
				}
			}
		}
		.card {
		  padding: 20px;
		  margin-bottom: 20px;
		  width: 100%;
		  border-radius: 5px;
		}
	}
}

