@import 'variables.scss';

.pricing {
  .ion-close-circled, .ion-ios-checkmark {
    font-size: 18px;
  }

  &__hero {
    padding-top: 3rem;
    .display-3 {
      width: 642px;
      letter-spacing: -0.04em;
      line-height: 70px;
      margin: auto;
      margin-bottom: 20px;
      color: $black;
    }
  }
  &__testimonials {
    margin-bottom: 120px;;
  }

  &__lead {
    color: $gray-dark;
    font-size: 1.125rem;
    max-width: 800px;
    margin: 0 1rem 6rem;
  }

  &__plans {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;

    &--label {
      width: 100%;
      text-align: center;
      margin: 40px 0;
      font-size: 12px;
      line-height: 20px;
      color: $gray;
    }

    &--toggle{
      width: 100%;
      margint: 20px 0 12px;
      text-align: center;
      color: $pink;
      font-size: 16px;
      line-height: 20px;
      font-weight: 600;
      &:hover {
        cursor: pointer;
      }
    }
    @include media-breakpoint-down(sm) {
      &--toggle{
        display: none;
      }
    }
  }

  &__spreadsheet {
    max-width: 490px;
    margin: 42px auto 0;
    border: 1px solid $gray-light;
    box-sizing: border-box;
    border-radius: 5px;

    &:hover {
      cursor: pointer;
      background: $gray-lightest;
    }

    a {
      font-size: 14px;
      line-height: 20px;
      color: $black;
      text-decoration: none;
      text-align: left;
      padding: 15px;

      img {
        margin-right: 10px;
      }
    }
    
  }

  &__card {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h4 {
      font-weight: 600;
    }

    .btn {
      margin-top: 0;
    }
    &--hidden {
      display: none;
    }
    &--gray {
      position: relative;
      width: 365px;
      height: 450px;
      background-color: $gray-lightest;
      border: 1px solid $gray-light;
      padding: 30px 30px 30px 30px;
      border-radius: 5px;
      h4 {
        color: #161616;
      }
      @include media-breakpoint-down(sm) {
        height: auto;
      }
    }
    &--light {
      position: relative;
      max-width: 850px;
      margin: 20px auto 0;
      width: 100%;
      height: auto;
      border: 1px solid $gray-light;
      padding: 40px 50px 50px;
      border-radius: 5px;

      .d-flex {
        align-items: center;
      }
      
      .pricing__wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;

        & h4 {
          color: $black;
          width: 100px;
          margin: 0;
          margin-right: 50px;
          font-size: 24px;
          line-height: 36px;
        }
      }
      .pricing__wrap-divider {
        width: 100%;
        height: 1px;
        background: $gray-light;
        margin: 35px 0;
      }
      @include media-breakpoint-down(sm) {
        height: auto;
      }
    }
    &__divider {
      height: 370px;
      background-color: $gray-light;
      width: 1px;
      @include media-breakpoint-down(sm) {
        height: 1px;
        width: 90%;
      }
    }
    @include media-breakpoint-down(md) {
      width: 45%;
      &--light {
        .d-flex {
          flex-wrap: wrap;
        }
        .pricing {
          width: 100%;
        }
        .pricing__list {
          margin: 50px auto 0;
        }
      }
    }
    @include media-breakpoint-down(sm) {
      width: 100%;
      &--gray {
        max-width: 365px;
        width: 100%;
        margin-left: auto !important;
        margin-right: auto !important;
      }
      &--gray:first-child {
        margin-bottom: 50px;
      }
      &--light {
        display: none !important;
      }
    }
  }

  &__card-right {
    position: relative;
    &--inner {
      border: 1px solid $gray-light;
      border-radius: 5px;
      align-items: center;
      @include media-breakpoint-down(sm) {
        flex-direction: column;
      }
    }

    &__btn {
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      bottom: -20px;
    }
  }

  &__love-devs {
    position: absolute;
    top: -67px;
  }

  &__check-runs-indicator {
    position: relative;
    &:after {
      position: absolute;
      content: url("data:image/svg+xml,%3Csvg width='80' height='9' viewBox='0 0 89 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 8.01336C7.33333 4.34669 33.7 -1.88664 88.5 2.51336' stroke='%23FF659D' stroke-width='2'/%3E%3C/svg%3E%0A");
      left: 0;
      bottom: -15px;
      @include media-breakpoint-down(sm) {
        bottom: -5px;
      }
    }
    &--secondary {
      &:after {
        left: -5px;
        @include media-breakpoint-down(sm) {
          bottom: -10px;
        }
      }
    }
  }

  &__calculation {
    margin-top: 120px;
  }

  &__enterprise {
    background-color: $gray-lightest;
    padding: 40px;
    margin: 120px 0 0;
    &__content {
      max-width: 840px;
      margin: 0 auto;
    }
  }

  table.pricing__feature-table {
    display: table;
    text-indent: initial;
    width: 100%;
    max-width: 840px;
    border-collapse: collapse;
    background-color: transparent;

    th {
      padding: 1rem 0.75rem;
      vertical-align: middle;
      text-align: center;
    }

    td {
      padding: 1rem 0.75rem;
      vertical-align: middle;
      text-align: center;
    }

    thead {
      th {
        font-weight: 600;
        color: $black;
        font-size: 16px;
        line-height: 20px;
      }
    }

    tbody {
      th {
        font-weight: 600;
        color: $gray-dark;
        font-size: 14px;
        line-height: 20px;
        text-align: left;
        max-width: 120px;
      }
      tr {
        &:nth-of-type(odd) {
          background-color: $ash;
        }
      }
    }
  }

  &__faq {
    max-width: 840px;
    margin: 120px 0;
  }

  &__trial {
    margin-bottom: 140px;
  }

  &__accordion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $white;
    color: $gray-dark;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    cursor: pointer;
    padding: 1rem;
    width: 100%;
    text-align: left;
    border: none;
    border-bottom: 1px solid $gray-light;
    outline: none;

    &:after {
      margin-left: 1rem;
      color: $gray-dark;
      font-family: Ionicons;
      content: '\f123'
    }

    &.active {
      background-color: $ash;
      border-bottom: none;

      &:after {
        margin-left: 1rem;
        color: $gray-dark;
        font-family: Ionicons;
        content: '\f126'
      }
    }

    &--panel {
      text-align: left;
      padding: 1rem;
      color: $gray-darkish;
      background-color: white;
      opacity: 0;
      display: none;
      &.active {
        display: block;
        animation: expandAccordion 250ms ease-in-out both;
      }
    }
  }

  &__fancy-price {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    flex: 0 0 auto;

    &__dollar-sign {
      font-size: 18px;
      line-height: 22px;
      font-weight: 600;
      color: $black;
    }

    &__price {
      display: flex;
      font-size: 42px;
      line-height: 50.83px;
      font-weight: 600;
      color: $black;

      &--big {
        font-size: 62px;
        line-height: 75.3px;
        font-weight: 600;
      }

      &--large {
        font-size: 42px;
        line-height: 48px;
      }
    }

    &__interval {
      display: flex;
      font-size: 16px;
      font-weight: normal;
    }
  }

  &__list {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 1rem;
      }
    }
  }

  &__toggle {
    &--text {
      color: $gray-light;
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 500;
      &--selected {
        color: $gray-dark;
      }
    }

    &--label {
      position: relative;
      display: inline-block;
      width: 32px;
      height: 16px;
      background-color: $gray;
      border-radius: 20px;
      transition: all 0.1s;

      &:hover {
        cursor: pointer;
      }

      &::after {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: $white;
        top: 3px;
        left: 3px;
        transition: all 0.3s;
      }
    }

    &--checkbox:checked + .pricing__toggle--label::after {
      left: 20px;
    }

    &--checkbox:checked + .pricing__toggle--label {
      background-color: $gray;
    }

    &--checkbox {
      display: none;
    }
  }

  &__tooltip {
    border-bottom: 1px dashed;
    display: inline;
    position: relative;

    &:hover {
      cursor: help;
      .pricing__tooltip--body {
        display: block;
      }
    }

    &--body {
      display: none;
      width: 200px;
      color: #fff;
      text-align: center;
      position: absolute;
      z-index: 10000;
      font-size: 13px;
      line-height: 1.2;
      font-weight: 400;
      background-color: #3c4858;
      border-color: #3c4858;
      border-radius: .25rem;
      padding: 1rem;
      box-shadow: 0 18px 18px rgba(0,0,0,.07);
      position: absolute;

      bottom: 150%;
      margin-left: -15px;
    }
  }
}

@keyframes expandAccordion {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@include media-breakpoint-down(md) {

  .pricing__enterprise {
    .d-flex:nth-child(1) {
      width: 100%;
      margin: auto;
      text-align: center;

      .btn {
        width: 250px;
        margin: auto;
      }
    }
    .d-flex:nth-child(2) {
      margin-left: auto;
    }
    .d-flex:nth-child(3) {
      margin-right: auto;
    }
  }
  
}

@include media-breakpoint-down(sm) {
  .pricing {
    &__hero {
      padding-top: 3rem;
      .display-3 {
        max-width: 500px;
        width: 100%;
        font-size: 48px;
        line-height: 1.2;
      }
    }

    &__calculation {
      margin-top: 0px;
    }
    .pricing__enterprise {
      text-align: center;

      .d-flex {
        margin: auto;
      }
    }
  }
}

@include media-breakpoint-down(xs) {
  .pricing {
    &__hero {
      padding-top: 3rem;
      .display-3 {
        font-size: 32px;
      }
    }
    .pricing__card--dark {
      max-width: 365px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
    .pricing__card--light {
      width: 100%;
      margin-right: auto;
    }
    table.pricing__feature-table {
      td {
        font-size: 12px;
      }
    }
    .pricing__enterprise {
      .d-flex {
        width: 100% !important;
        margin: auto;
      }
      .d-flex:nth-child(2) {
        margin-left: 15vw;
      }
      .d-flex:nth-child(3) {
        margin-left: 15vw;
      }
    }
    &__spreadsheet {
      a {
        img {
          margin-top: 3px;
        }
      }
    }
  }
}