@import 'variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
.product {
  $product-max-width: 760px;

  &.markdown {
    *[id]:before {
      display: block;
      content: " ";
      margin-top: 0px;
      height: 0px;
      visibility: hidden;
    }
    img {
      height: auto !important;
    }
    h1 {
      &.hero-text {
        &:not(:first-child) {
          padding-top: 3 * $spacer;
        }
        margin-bottom: 1.25 * $spacer;
        font-weight: $font-weight-semi-bold;
        font-size: 3.625rem;
        letter-spacing: -0.04em;
        color: $black;
        line-height: 1.2;
      }
      &.width-645 {
        max-width: 645px;
        margin-left: auto;
        margin-right: auto;
      }
      &.terraform-title {
        font-weight: bold;
        font-size: 3.25rem;
        &:not(:first-child) {
          padding-top: $spacer;
        }
      }
    }
    .b-cta {
      font-size: 1.25rem;
    }

    .hero-image {
      max-width: 910px;
      width: calc(100% - 30px);
      height: auto;
      margin-bottom: -100px;
    }

    .right-header {
      @media (max-width: 767px) {
        margin-bottom: 0px;
       img {
         margin-top: 64px;
       }
      }
      @media (max-width: 991px) {
        background-image:  url('/product/terraform/background-header.svg');
        max-width: 750px;
        margin-bottom: 32px;
        .tab-code-wrapper {
          margin-top: 40px;
        }
      }
      background-size: 70% auto;
      background-repeat: no-repeat;
      background-position: top right;
      @media (min-width: 768px) {
        margin-bottom: 100px;
      }
      @media (min-width: 992px) {
        background-image: none;
        padding-top: 80px;
        margin-bottom: 32px;
        .code-block {
          height: 350px;
        }
        &::after {
          content: " ";
          position: absolute;
          top: 0;
          right: -30%;
          width: 399px;
          height: 350px;
          z-index: -1;
          background-image: url("/product/terraform/background-header.svg");
          background-size: 100% 100%;
        }
      }
      @media (min-width: 1200px) {
        padding-top: 50px;
        .code-block {
          height: 100%;
        }
      }
    }

    .terraform-text {
      background-color: $light-blue;
      color: $brand-primary;
      font-weight: 600;
      font-size: 1rem;
      border-radius: 8px;
    }

    .apps-code {
      .order-1 {
        order: 1;
      }
      .order-2 {
        order: 2
      }
      @media (min-width: 992px) {
        .order-lg-1 {
          order: 1;
        }
        .order-lg-2 {
          order: 2;
        }
      }
    }

    .landing-link {
      font-weight: 600;
      font-size: 1rem;
    }

    .images {
      position: relative;
      margin-top: 52px;
      min-height: 480px;

      .hero-first {
        position: absolute;
        z-index: 1;
        width: calc(100% - 190px);
        left: 30px;
      }

      .hero-second {
        position: absolute;
        z-index: 2;
        right: 30px;
        top: 100px; 
        width: calc(100% - 164px);
      }
    }
    
    h2 {
      &.section-header {
        font-size: 2rem;
        border-bottom: none;
      }
    }

    h3 {
      &.section-header {
        font-size: 1.25rem;
        margin-top: 0;
        border-bottom: 0;
      }
      &.feature-title {
        font-size: 1rem;
        margin-top: 0;
        @media (min-width: 768px) {
          font-size: 1.25rem;
        }
      }
      &.sub-heading {
        font-size: 2rem;
      }
      &.hear-about {
        font-size: 1.5rem;
        @media (min-width: 992px) {
          font-size: 2rem;
        }
      }
    }

    h5 {
      font-size: .875rem;
      text-transform: uppercase;
      font-weight: $font-weight-semi-bold;
      &::before {
        content: "\f4b3" !important;
        color: $yellow;
        padding-right: .5rem;
        font-family: Ionicons;
        position: relative;
        font-size: inherit;
      }
    }

    .feature-row-item-wrapper {
      p {
        color: $gray-darkish;
      }
    }

    p {
      color: $body-text;
      margin-bottom: 0;
      &.hero-sub {
        font-size: 1.125rem;
        margin-bottom: 1rem;
        color: $body-text;
      }

      &.hero-sub-center {
        max-width: $product-max-width;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 80px;
      }

      &.lead-text {
        color: $body-text;
        max-width: $product-max-width;
        margin-left: auto;
        margin-right: auto;
      }

      &.terraform-sub {
        font-size: 1.125rem;
      }
      &.scale-across {
        font-size: 1.125rem;
      }
    }

    ul {
      &.checks-list {
        justify-content: center;
        gap: 10px;
        padding-left: 0px;
        .nav-link {
          background-color: transparent;
          border-color: transparent;
          font-weight: 600;
          font-size: 14px;
          line-height: 20px;
          color: #697280;
          padding: 4px 4px;
          text-align: center;
          &.active {
            background-color: #45C8F1;
            border-color: #45C8F1;
            color: white;
          }
        }
      }
    }

    .tab-content {
      padding-top: 0px;
    }

    .tab-code-wrapper {
      position: relative;
      @media (min-width: 768px) {
        height: 400px;
        div[class^="col"] {
          height: 100%;
          padding-top: 32px;
        }
      }
      .window-header {
        display: flex;
        align-items: center;
        &.hide-mobile {
          @media (max-width: 767px) {
            display: none;
          }
        }
        border-radius: 8px 8px 0px 0px;
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        height: 34px;
        width: 100%;
        margin-left: 15px;
        margin-right: 20px;
        background-color: #1f1f1f;
        z-index: 10;
        .dots {
          flex: 1;
          .dot {
            height: 12px;
            width: 12px;
            border-radius: 50%;
            background-color: #697280;
            content: '';
            align-self: flex-start;
          }
        }
        .text {
          font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
          color: #8492A6;
        }
      }
    }

    .code-block {
      height: 100%;
      @media (min-width: 576px) {
        max-height: 400px;
      }
      @media (min-width: 768px) {
        max-height: 500px;
      }
      &.adjust-margin {
        margin-right: -15px;
      }
      &.dark {
        color: white;
        pre {
          background-color: #1f1f1f;
        }
        .code-blue {
          color: #45C8F1;
        }
        .code-grey {
          color: #8492A6;
        }
        .code-yellow {
          color: #FFC82C;
        }
      }
      &.light {
        background-color: #E0E6ED;
        pre {
          background-color: transparent;
          code {
            color: #1f1f1f;
            border: none;
          }
        }
      }
      &.width-90 {
        pre {
          @media(max-width: 575px) {
            width: 90vw;
          }
        }
      }
      pre {
        @media(max-width: 575px) {
          max-height: 400px;
        }
        font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
        height: 100%;
        margin-top: 0px;
        overflow: auto;
        font-size: 1rem;
        word-break: normal !important;
        word-wrap: normal !important;
        white-space: pre !important;
      }
    }

    figure {
      &.text-center {
        margin-left: auto;
        margin-right: auto
      }
      &.lead-text {
        max-width: $product-max-width;
        margin-left: calc(50% - 380px);
      }
    }

    .img-w900 {
      max-width: 900px;
    }

    .img-w768 {
      max-width: 768px;
    }

    .grid-section {
      position: relative;
      z-index: 10;
      background: $ash;
      width: 100vw;
      margin-left: calc(570px - 24px - 50vw);
      padding-top: 2 * $section-top-padding;
      padding-bottom: 15px; 
      padding-left: calc(50vw + 24px - 570px);
      padding-right: calc(50vw + 24px - 570px);

      .row {
        .grid-item {
          margin-bottom: 63px;
          max-width: 330px;
          width: 100%;
        }
        .grid-item:nth-child(3n + 1) {
          margin-left: 0;
          margin-right: auto;
        }
        .grid-item:nth-child(3n + 2) {
          margin-left: auto;
          margin-right: auto;
        }
        .grid-item:nth-child(3n) {
          margin-left: auto;
          margin-right: 0;
        }
      }
    }
    .mt-1 {
      margin-top: 10px !important;
    }
    .mt-2 {
      margin-top: 20px !important;
    }
    .mt-4 {
      margin-top: 40px !important;
    }
    .mt-5 {
      margin-top: 50px !important;
    }
    .mt-7 {
      margin-top: 70px;
    }
    .mt-8 {
      margin-top: 80px;
    }
    .pb-9 {
      padding-bottom: 90px;
    }
    .feature {
      margin-top: 40px;
      margin-bottom: 4.5rem;
    }
    .text-left {
      p {
        max-width: 348px;
        width: 100%;
        margin-right: auto;
      }
      .cta {
        margin-top: 20px;
      }
    }
    .video-wrapper {
      position: relative;
      width: 100%;
      margin: auto;

      :hover {
        cursor: pointer;
      }

      video {
        position: relative;
        z-index: 9;
        width: 100%;
        outline: none;
        &:focus {
          outline: none;
        }

        &::-webkit-media-controls {
          display: none !important;
        }
        &::-webkit-media-controls-enclosure {
          display: none !important;
        }
      }
      .action-button {
        position: absolute;
        z-index: 10;
        top: calc(50% - 36px);
        left: calc(50% - 36px);
        width: 72px;
        height: 72px;
        display: none;
      }
    }
    .gray-section {
      position: relative;
      z-index: 10;
      background: $ash;
      overflow: hidden;
      width: 100vw;
      margin-left: calc(570px - 24px - 50vw);
      margin-top: 8px;
      padding-top: 3 * $spacer;
      padding-left: calc(50vw + 24px - 570px);
      padding-right: calc(50vw + 24px - 570px);

      h3 {
        padding-bottom: 0;
        margin-bottom: 10px;
      }
      .cta {
        margin-top: 20px;
      }
      .img-w900 {
        margin-bottom: -160px;
      }
    }
    .two-grid {
      padding-bottom: 90px !important;
      .col-md-6 {
        max-width: 480px;
        width: 100%;
      }
      .col-md-6:nth-child(1) {
        margin-right: auto;
      }
      .col-md-6:nth-child(2) {
        margin-left: auto;
      }
      .img-440 {
        max-width: 440px;
        width: 100%;
        height: auto;
        margin-top: 30px;
      }
    }
    .section-super-header {
      margin-bottom: 5px;
      font-size: 14px;
      font-size: 0.875rem;
      font-weight: 600;
      text-transform: uppercase;
      border-bottom: 0;
    }
    @media(max-width: 1199px) {
      .grid-section {
        margin-left: calc(480px - 24px - 50vw);
        padding-left: calc(50vw - 480px + 24px);
        padding-right: calc(50vw - 480px + 24px);
      }
      .gray-section {
        margin-left: calc(480px - 24px - 50vw);
        padding-left: calc(50vw - 480px + 24px);
        padding-right: calc(50vw - 480px + 24px);
      }
    }
    @include media-breakpoint-down(md) {
      h1 {
        &.hero-text {
          margin-bottom: 1.5 * $spacer;
          font-size: 3rem;
        }
        &.terraform-title {
          font-size: 2.625rem;
        }
        &.hear-about {
          font-size: 1.125rem;
        }
      }
      p {
        &.hero-sub-center {
          margin-bottom: 50px;
        }
      }
      .b-cta {
        font-size: 1.125rem;
      }
      .img-w768 {
        width: calc(100% - 30px);
        height: auto;
      }
      .img-w900 {
        width: calc(100% - 30px);
        height: auto;
      }
      .grid-section {
        margin-left: -24px;
        padding-left: 24px;
        padding-right: 24px;
        padding-top: $section-top-padding;
        padding-bottom: 0px;

        .row {
          .grid-item {
            margin-bottom: 50px;

            h5 {
              margin-bottom: 12px;
            }
          }
        }
      }
      .gray-section {
        margin-left: -24px;
        padding-left: 24px;
        padding-right: 24px;
        padding-top: $section-top-padding;
        padding-bottom: 0px;
      }
      .two-grid {
        padding-bottom: 50px !important;
        .col-md-6 {
          max-width: 100%;
        }
        .col-md-6:nth-child(1) {
          margin-right: auto;
          margin-bottom: 50px;
        }
        .col-md-6:nth-child(2) {
          margin-right: auto;
        }
        .img-440 {
          max-width: 100%;
        }
      }
    }
    @include media-breakpoint-down(sm) {
      h1 {
        &.terraform-title {
          font-size: 1.5rem;
        }
      }
      h3 {
        &.sub-heading {
          font-size: 1.25rem;
        }
      }
      p {
        &.terraform-sub {
          font-size: 1rem;
        }
        &.scale-across {
          font-size: 0.875rem;
        }
      }
      img {
        &.hear-about {
          max-width: 300px;
        }
      }
      .right-header {
        .tab-code-wrapper {
          display: none;
        }
      }
      .code-block {
        height: 250px;
      }
      .b-cta {
        font-size: 0.875rem;
      }
      .terraform-text {
        font-size: .875em;
      }
      .landing-link {
        font-size: .875rem;
      }
      .mt-8 {
        margin-top: 50px;
      }
      .pb-9 {
        padding-bottom: 50px;
      }
      .feature {
        margin-bottom: 3.75rem;
      }
      .text-left {
        margin-bottom: 20px;
        p {
          max-width: 100%;
        }
        .cta {
          margin-top: 10px;
        }
      }
      .grid-section {
        margin-left: -18px;
        padding-left: 18px;
        padding-right: 18px;

        .row {
          .grid-item:nth-child(2n + 1) {
            width: 100%;
            margin-left: 0 !important;
            margin-right: auto !important;
          }
          .grid-item:nth-child(2n) {
            width: 100%;
            margin-left: auto !important;
            margin-right: 0 !important;
          }
        }
      }
      .gray-section {
        margin-left: -18px;
        padding-left: 18px;
        padding-right: 18px;
        .section-super-header {
          margin-top: 1rem !important;
        }
        .cta {
          margin-top: 10px;
        }
        .img-w900 {
          margin-bottom: -100px;
        }
      }
    }
    @include media-breakpoint-down(xs) {
      h1 {
        &.hero-text {
          margin-bottom: 1.875 * $spacer;
          font-size: 2rem;
        }
        &.terraform-title {
          font-size: 1.5rem;
        }
      }
      p {
        &.hero-sub-center {
          font-size: 1rem;
          line-height: 1.6;
          margin-bottom: 30px;
        }
      }
      .grid-section {
        .row {
          .grid-item {
            max-width: 480px;
          }
          .grid-item:nth-child(2n + 1) {
            margin-left: auto !important;
            margin-right: auto !important;
          }
          .grid-item:nth-child(2n) {
            margin-left: auto !important;
            margin-right: auto !important;
          }
        }
      }
      .section-header {
        margin-top: 0;
        margin-bottom: 0;
      }
      .gray-section {
        .img-w900 {
          margin-bottom: -50px;
          width: calc(100% - 30px);
          height: auto;
        }
      }
    }
  }
}


