.slack-invite {
  --vertical-space: 3rem;
  --text-color: #697280;

  text-align: center;
  background: #F9FAFB url(/images/slack-invite/slack-fold@2x.png);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 8rem;
  padding: 1rem;
  min-height: 100vh;

  @media (min-width: 40em) {
    background-size: 15rem;
  }

  .logo {
    width: 7rem;
    height: auto;
    margin: 3rem auto 1rem;
  }

  h1 {
    letter-spacing: -0.05em;
    line-height: 1.25;
    color: #1f2d3d;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }

  h2 {
    font-size: 1rem;
    font-weight: 400;
    color: currentColor;
  }

  .initial {
    max-width: 35rem;
    margin: 0 auto;

    a {
      margin-top: 1.5rem;
      font-size: 0.875rem;

      &:focus {
        color: white;
      }
    }
  }

  .team {
    margin-top: var(--vertical-space);

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        display: inline-block;
        width: 2rem;
        margin-left: -0.675rem;
      }
    }

    span {
      font-size: 0.75rem;
    }

    img {
      border-radius: 50%;
    }
  }

  footer {
    margin-top: var(--vertical-space);

    img {
      display: inline-block;
      vertical-align: middle;
      height: 1.25rem;
      margin: 0 0.25rem;
    }
  }
}
