.toc-sidebar {

  position: relative;
  right: 0;
  padding-left: .5rem;
  font-size: $font-size-sm;

  .toc-sidebar-header {
    line-height: 1;
    margin-bottom: $spacer;
    font-weight: $font-weight-bold;
  }

  ul, ol {
    list-style-type: none;
    padding-left: 0;
  }

  border-left: 2px solid $brand-primary;
}
