@import './checkly-webapp-src/style/scss/variables';

// colors
$light-blue: #EBFAFF;

// typography
$body-text: $gray-dark;
$line-height-pub-site: 1.6;

// sections
$section-top-padding: 3.125rem;
$section-bottom-padding: 3.125rem;
$section-bottom-margin: 4rem;
