@import 'variables';
@import './checkly-webapp-src/style/scss/style.scss';

@import 'common';
@import 'main';
@import 'navbar';
@import 'sections';
@import 'free-trial';
@import 'docs';
@import 'guides';
@import 'learn';
@import 'toc-sidebar';
@import 'markdown';
@import 'status-circle';
@import 'syntax';
@import 'sections/api-monitoring';
@import 'sections/learn-headless';


body {
  &.fixed-top-padding {
    padding-top: 90px; // navbar height
  }
  color: $gray-dark;
}

.container {
	padding-right: 24px;
	padding-left: 24px;
}

.gray-section {
	background: $ash;
}

@include media-breakpoint-down(md) {
	.container {
		width: 100%;
	}
}
@include media-breakpoint-down(sm) {
	.container {
		width: 100%;
		padding-right: 18px;
		padding-left: 18px;
	}
}
