{{ define "main" }}

<div class="main pt-5 about">
  <section class="about__hero">
    <div class="container">
      <div class="integrations__hero align-items-center text-center">
        <h1 class="display-3">{{.Params.hero.title}}</h1>
        <p class="about__hero__lead">
          {{.Params.hero.description}}
        </p>
      </div>
    </div>
  </section>
  <section class="about__about">
    <div class="container">
      <div class="row text-left justify-content-center">
        <div class="col-sm-12 col-lg-8">
          <h2>{{.Params.about.title}}</h2>
          <p class="about__description">{{.Params.about.description | safeHTML}}</p>
        </div>
      </div>
    </div>
  </section>
  <section class="about__team">
    <div class="container">
      <h2>{{.Params.team.title}}</h2>
      <div class="row">
        {{ range .Params.team.list }}
        <div class="col-sm-4">
          <picture>
            <source type="image/webp" srcset="{{ substr .avatar 0 -4 | safeURL }}.webp">
            <source type="image/png" srcset="{{.avatar}}">
            <img src="{{.avatar}}" alt="{{.name}}" loading="lazy" width="180" height="180" />
          </picture>
          <h5>{{.name}}</h5>
          <p>{{.role}}</p>
          {{ range .socials }}
          <a href="{{.link}}" target="_blank">
            {{.name}}
          </a>
          {{ end }}
        </div>
        {{ end }}
      </div>
    </div>
  </section>
  <section class="about__investors">
    <div class="container">
      <div class="about__investors__companies">
        <h2>Backed by best</h2>
        <div class="row">
          {{range .Params.investors.companies}}
          <div class="col-sm-4">
            <div class="card">
              <img src="{{.logo}}" alt="{{.alt}}" width="{{.logoWidth}}" height="{{.logoHeight}}" class="logo">
              <p class="description">
                {{ .description }}
              </p>
              <div class="row">
                <div class="col-sm-3">
                  <picture>
                    <source type="image/webp" srcset="{{ substr .avatar 0 -4 | safeURL }}.webp">
                    <source type="image/png" srcset="{{.avatar}}">
                    <img src="{{.avatar}}" alt="{{.name}}" loading="lazy" width="74" height="74" />
                  </picture>
                </div>
                <div class="col-sm-9">
                  <h5>{{.partner}}</h5>
                  <p>{{.role}}</p>
                </div>
              </div>
            </div>
          </div>
          {{end}}
        </div>
      </div>
      <div class="about__investors__individuals">
        <h4>Individuals</h4>
        <div class="row">
          {{range .Params.investors.individuals}}
            <div class="col-sm-4">
              <div class="card">
                <h5>{{.name}}</h5>
                <p>{{.role}}</p>
              </div>
            </div>
          {{end}}
        </div>
      </div>
    </div>
  </section>
  <section class="about__contact">
    <div class="container">
      <h2>{{.Params.contact.email}}</h2>
      <div class="row">
        {{range .Params.contact.address}}
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-4">
              <img src="{{.image}}" alt="{{.country}}" />
            </div>
            <div class="col-md-8">
              <h5>{{.country}}</h5>
              <p>{{.address}}</p>
            </div>
          </div>
        </div>
        {{end}}
      </div>
    </div>
  </section>
  <section class="about__joinus">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-6">
          <h2>{{ .Params.joinUs.title }}</h2>
          <p>{{.Params.joinUs.description}}</p>
          <a class="cta-link" href="{{.Params.joinUs.buttonlink}}">{{.Params.joinUs.buttonTxt}}</a>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-6 text-center">
          <img src="{{.Params.joinUs.image}}" alt="join us" width="296" height:="221" />
        </div>
      </div>
    </div>
  </section>
</div>
{{end}}
